[2020-02-13 07:52] zerox12311 opened #17 "It's support dataloader?"
It is a really amazing nestjs graphql library!!
I tried this library for example code, and i found some problem.
I used **many Relations** in resolver, it work fine!, but will cause n+1 problem.
I think can add a batch option to use any batch function to resolve it.

[2020-02-15 23:08] doug-martin commented on #17
Im looking into this now.

[2020-02-17 17:01] johannesschobel opened #18 "Support "Embedded Objects""
Dear @doug-martin ,

first of all, I would like to say, that this library is really (!) awesome :+1: great work so far!

I recently stumbled upon an issue I am not quite sure how to solve it. Let me describe it in more detail.
Consider the following (simplified) example: I have a `UserEntity` and corresponding `UserObjectType`.
Furthermore, this `User` has a `settings` property, which is stored as

[2020-02-17 17:14] doug-martin commented on #18
Can show me what your resolver looks like?

[2020-02-17 17:20] johannesschobel commented on #18
Dear @doug-martin , I will post my resolver tomorrow. I have already left office, sorry

[2020-02-18 06:57] johannesschobel commented on #18
My `UserResolver` looks like this:

[code]

It may be possible to directly apply some kind of `@ResolveProperty()` decorators from `type-graphql`, but i have not tried it yet. What is the common "go-to" strat here with your library?

Thank you very much for this awesome support!

[2020-02-18 07:08] johannesschobel commented on #18
ok.. adding a custom `resolve`-method for this particular field works.. I did it like this:
[code]

But is this the "best" approach?

[2020-02-18 11:22] johannesschobel opened #19 "Validate Input for Create & Update"
Dear @doug-martin ,

i was trying to validate input for my `CreateX` and `UpdateX` mutations. Note that i use the default `ValidationPipe` provided by `@nestjs/common` and `class-validator` package.

My `ValidationPipe` is defined as follows:
[code]

This definition, in turn, states, that ONLY defined attributes may pass, unknown properties automatically result in errors and so on. As i register t

[2020-02-18 16:23] doug-martin commented on #19
Thanks for the detailed issue @johannesschobel! Yes I think this would be a great addition.

[2020-02-18 16:26] johannesschobel opened #20 "@FilterableField() with nullable:true throws error"
Dear @doug-martin ,

a
[code]
throws an error when requesting this field in a query (and if it is actually `null`).

Changing from `@FilterableField()` to `@Field()` removes this issue, however, it is not possible to search by this field any more..

All the best

[2020-02-18 16:26] johannesschobel commented on #19
Shall i make a PR for you? Or will you work on this?
All the best

[2020-02-18 16:28] doug-martin commented on #18
@johannesschobel could you provided a small example repo? There are a couple of things it could be.

[2020-02-18 16:29] johannesschobel commented on #18
i will try to work on an example repo during the weekend..

[2020-02-18 16:30] doug-martin commented on #20
Thanks @johannesschobel! Ill start fixing the issues tonight.

Thank you reporting the issues you find I really appreciate it!

[2020-02-18 16:30] doug-martin commented on #19
Yeah if you want to make a PR that would be great!

[2020-02-18 16:31] doug-martin commented on #20
Feel free to make a PR on this one also if you want.

[2020-02-18 16:31] johannesschobel commented on #20
thank you for creating this awesome package!

[2020-02-18 22:58] doug-martin commented on #20
Issued pr #21 to fix this.

[2020-02-18 23:55] doug-martin commented on #20
Published! The version with the fix is `v0.2.1`

[2020-02-18 23:55] #20 closed

[2020-02-19 06:49] johannesschobel commented on #20
awesome support.. works like a charm!

[2020-02-19 09:27] johannesschobel commented on #19
Dear @doug-martin ,

i just wanted to create a PR for this issue. My first approach was like this:
[code]

However, this does not work, because `'C' only refers to a type, but is being used as a value here.`

Any idea how to cope with this?
All the best

[2020-02-19 15:05] doug-martin commented on #19
Yep,you need to pass in the `ItemClass`, similar to how it is passed to field.

If you take a look at https://github.com/doug-martin/nestjs-query/blob/master/packages/query-graphql/src/types/query/query-args.type.ts#L46 you'll see I had to do the same thing.

[2020-02-19 15:22] johannesschobel opened #22 "Many-To-Many Relationship Query Problem"
Dear @doug-martin ,

and once again I write to you to describe an issue i have found ;) Sorry for bothering you again ;)
The issue i stumbled upon is with `Many to Many` relationships between entities.

Consider the following example:
I have two entities `Organization` and `Doctor`. Thereby, one organization has many doctors and one doctor can be a member in various organizations.

My models look

[2020-02-19 15:56] johannesschobel commented on #19
ok, i don't have any idea how to test this properly.. because i would need the `ValidationPipe`, make a proper request to the endpoint, send correct and wrong data, check the responses and so on.. or do you have any better idea how to do this in a more sane way? :laughing:

[2020-02-19 16:01] doug-martin commented on #19
For the unit tests I've been adding spys just to the decorators to make sure everything is wired up properly.

For e2e I haven't automated that yet, its on my todo list. But I usually add something to the example and test manually.

[2020-02-19 16:04] doug-martin commented on #22
Yes, I found this over the weekend and started working on a fix. Typeorm doesnt make querying relationships with filters easy.

I hope to get this fixed by the end of the week,

[2020-02-19 16:05] doug-martin commented on #19
You might also checkout https://github.com/doug-martin/nestjs-query/blob/master/packages/query-graphql/__tests__/types/query/query-args.type.spec.ts

In there I use class validator just to ensure everything is getting validated as expected.

[2020-02-19 16:16] johannesschobel commented on #22
ok, good that you also found respective issue.
yeah, querying over `many-to-many` relationships is quite shitty :D haha

[2020-02-19 16:20] johannesschobel commented on #19
my first approach would have also been to use the `./example` application within the package. However, this specifically targets a dedicated version of `@nestjs-query/x` in the `package.json` file.

Maybe we can just use
[code]
in the `package.json` file to "link" it to the local dev-version?

[2020-02-19 18:57] doug-martin commented on #19
Oh, yeah when developing run `npm run bootstrap` from the root directory which install all dependencies properly and link the packages together.

[2020-02-20 07:34] johannesschobel commented on #19
yeah, the linking is not the problem, i guess. its more that the `package.json` file in the `/example` folder does not use the proper "development" version of the package in the root folder but specifies the `0.2.1` version, which would then be pulled from NPM (without my local changes).

[2020-02-20 16:11] johannesschobel commented on #19
ok.. i cannot get the first initial proposal of this issue to work in the `example` application.. It's not working with the `custom ArgsType` for me.. i will try again tomorrow with a clean install..

However, in my own "real application" i am building it works fine with the custom argstype.. in the demo application it wont work.. maybe some kind of dependency problem (version!)

[2020-02-21 00:48] doug-martin commented on #19
If you can provide a branch I may be able to help.

[2020-02-21 22:13] doug-martin commented on #22
This will be part of v0.3.0 which also includes dataloader support, so you wont see 10 separate queries. but 2 one to get the `organizations` and another for `members`. See #24

[2020-02-21 22:24] doug-martin commented on #17
in `v0.3.0` dataloader support has been added.

[2020-02-21 22:24] #17 closed

[2020-02-21 22:24] #22 closed

[2020-02-22 06:48] johannesschobel commented on #22
That is awesome

[2020-02-22 12:33] izundo-viennv opened #26 "Can't create Resolver class"
I can't create Resolver class. Please see image below:
![image](https://user-images.githubusercontent.com/29116432/75092410-c9b2e580-55a9-11ea-9f32-94b6bf98ec24.png)

![image](https://user-images.githubusercontent.com/29116432/75092430-fcf57480-55a9-11ea-83f5-2dc884f8b14b.png)

![image](https://user-images.githubusercontent.com/29116432/75092440-14ccf880-55aa-11ea-82f7-fbddde4dbd61.png)

![image](

[2020-02-22 14:05] doug-martin commented on #26
I see your missing quite a few peer dependencies, but it may be a version issue.

What version of query-typeorm are you using?

[2020-02-22 19:39] doug-martin commented on #18
@johannesschobel I've played with this and I cant seem to reproduce. I pushed up an example to https://github.com/doug-martin/nestjs-query/tree/issue18 its slightly more complex as I was trying different ways to break it, in this example I added a checklist array to my TodoItem.

Here is where all the changes took place https://github.com/doug-martin/nestjs-query/tree/issue18/examples/nest-graphql

[2020-02-22 19:56] doug-martin commented on #26
I was able to reproduce locally by setting by having this dependency combination.
[code]
To fix you should upgrade `core` and `query-typeorm` to

[code]

[2020-02-23 02:46] izundo-viennv commented on #26
@doug-martin Thank you, You're right.

[2020-02-23 02:46] #26 closed

[2020-02-23 09:54] izundo-viennv opened #31 "Can't remove on Many-To-Many relations"
Hi @doug-martin,
I trying to add  a many relation to my user resolver, I can call add many, but I can't call with remove many and it reports an error like this:

![image](https://user-images.githubusercontent.com/29116432/75110157-13103d00-565d-11ea-906f-a3d6a32a0f6d.png)

![image](https://user-images.githubusercontent.com/29116432/75110160-34712900-565d-11ea-93d1-194b99068826.png)

[2020-02-23 10:58] izundo-viennv opened #32 "Don't validate input"
Hi @doug-martin

It doesn't validate input for permission object, although I added `MaxLength(2)` for name. Can you take a look at images below:

![image](https://user-images.githubusercontent.com/29116432/75110870-13610600-5666-11ea-9dfd-a72adab5d157.png)

![image](https://user-images.githubusercontent.com/29116432/75110874-19ef7d80-5666-11ea-914e-9383209a6f50.png)

![image](https://user-images.g

[2020-02-23 11:18] izundo-viennv commented on #31
@doug-martin I don't know if this is library's issue
https://github.com/typeorm/typeorm/issues/1985

[2020-02-23 12:22] izundo-viennv commented on #31
@doug-martin I debugged and found that position of parameters (`relationName` and `id`) are wrong is the file `relation-query.service.ts`

[code]

It should be

[code]

[2020-02-23 12:26] izundo-viennv commented on #31
I'm glad if you give me permissions to create PR for this issue

[2020-02-23 12:29] izundo-viennv commented on #32
I will close this issue because it duplicated https://github.com/doug-martin/nestjs-query/issues/19

[2020-02-23 12:29] #32 closed

[2020-02-23 12:44] izundo-viennv commented on #19
@johannesschobel @doug-martin How's it going, guys? I'm waiting for your PR

[2020-02-23 20:23] doug-martin commented on #31
Fixed and published `@nestjs-query/query-typeorm@0.3.4`

Thanks for the bug report!

[2020-02-23 20:23] #31 closed

[2020-02-24 01:30] doug-martin commented on #19
Published under `@nestjs-query/query-graphql@0.3.5`

[2020-02-24 01:30] #19 closed

[2020-02-24 06:58] johannesschobel commented on #19
oh man.. that's awesome! thanks a lot

[2020-02-24 07:01] johannesschobel commented on #18
i will try to give feedback during the week.. first, i need to adapt to your latest changes :) thank you very much for being so active on this repo!

[2020-02-24 17:12] izundo-viennv opened #35 "[Question] Any way to catch errors from database and display in an elegant way"
Hi @doug-martin
Actually, I'm a newbie with Nestjs and Graphql, so I have a question, I'm thinking about how to catch and custom errors returned by Graphql in an elegant way. Because when I try to add a unique value to database, it's failed and display a lot of info I don't want expose.

I know we can use `formatError` and exception filter to do that, but we will have many type of errors like vali

[2020-02-24 21:32] doug-martin commented on #35
This is an area I have really played yet with in this library. Its been on my todo list for the typeorm errors since they are they are not nice.

If you want to research and submit some ideas go for it. Im wrapping another set of changes at the moment.

[2020-02-25 01:29] izundo-viennv commented on #35
At the moment I have no good idea for it, but I hope it released asap.

And another, how to restrict fields returned and fields can be filtered if the user doesn't have permissions. That's is my big concerns.

[2020-02-25 04:04] izundo-viennv opened #36 "Add support for adding custom decorators to endpoints"
@doug-martin
I found that the library has support for adding filters, pipes, guards, but I don't know if I want to add `@Permissions(['READ', 'UPDATE'])` to built-in endpoints. Like what I did for custom methods:
[code]

[2020-02-25 04:06] doug-martin commented on #36
Where does permissions come from? Is it a guard?

[2020-02-25 04:07] izundo-viennv commented on #36
Permissions will be read from `GqlAuthGuard` guard

[2020-02-25 04:16] doug-martin commented on #36
I was wondering if `@Permissions` is from an opensource library or did is in internal?

The reason I ask is without more context it is hard to answer your question.

If it were my project I would try to make a new `PermissionsGuard` that accepts the roles and blocks requests accordingly.

[2020-02-25 04:16] doug-martin commented on #36
Again, without more information this is hard to answer.

[2020-02-25 04:18] izundo-viennv opened #37 "Add support for restricting fields returned and fields can be filtered if the user doesn't have permissions"
@doug-martin I created this ticket for discussion. Because sometimes, I don't want the user can filter fields and fields will be null if they don't have permissions for that. I don't know a good solution for that

[2020-02-25 04:20] izundo-viennv commented on #36
This is for `GqlAuthGuard`
[code]

And this is for `Permissions` (this is the custom decorator I wrote)
[code]

[2020-02-25 05:02] izundo-viennv commented on #36
@doug-martin In `GqlAuthGuard` it's just simple read metadata set to method handler to get permissions for checking

[2020-02-26 09:19] johannesschobel commented on #22
just wanted to give feedback to this issue.
This one is resolved for me! thanks for your awesome work!

[2020-02-26 16:04] izundo-viennv commented on #37
@doug-martin How do you think? It can be a permission issue. But I don't know in a real app, it will expose all fields or not if the user doesn't have permissions. Or we will create another dto to expose what we want, but that will create a lot of dtos

[2020-02-26 19:51] doug-martin commented on #37
I think this is a question better directed towards @nestjs/graphql or the typegraphql repos. There seems to be some discrepancy between them on how to restrict fields in general in a graphql API.

Once there is a way to do this with type-graphql that nestjs supports I'll look into it more.

[2020-02-26 23:35] doug-martin commented on #36
Published under `v0.5.0`

[2020-02-26 23:35] #36 closed

[2020-02-27 01:18] izundo-viennv commented on #37
@doug-martin You're right, but I just want to discuss with you, maybe you can help me to have a better solution to implement.

For example in a real world app you have a user entity with 10 fields (email, firstName, lastName, password, isDeleted, ...)
- but for public users you just want them to send `checkEmailExists` and return boolean value
- but for authenticated users you just want then to qu

[2020-02-27 01:21] izundo-viennv commented on #36
@doug-martin Thank you very much. You're awesome

[2020-02-27 01:29] izundo-viennv opened #40 "Support guards for read endpoint"
@doug-martin I read in docs about guards for read endpoint, but it'll be unreasonale if we can't support that, because if the user don't have permissions to query an endpoint, so how to do it, it seems that the library is just for public query

[2020-02-27 04:47] doug-martin commented on #40
You can set guards on read endpoints just like the mutations.

[code]

 If you want them to apply to the entire resolver you can annotate your resolver

[code]

Hope this helps!

[2020-02-27 08:48] izundo-viennv commented on #40
@doug-martin Can it support guards for relations?

[2020-02-28 01:48] doug-martin commented on #40
Oh good point Ill update the docs to remove that warning. I tested locally and the read endpoints work find.

Ill need to test relations

[2020-02-28 03:52] izundo-viennv commented on #37
@doug-martin Could you help me to answer this question?

[2020-02-28 07:34] johannesschobel opened #41 "[Question] Get Underlying Entity Object"
Dear @doug-martin ,

i recently had the problem, that i had to get the underlying `Entity` from the `Service` in order to call another service. For example, i have a the following situation:
[code]

where the `UserService` is bootstrapped with your library, and the `EvaluationService` uses my own logic and provides other logic. Respective `EvaluationService` has a method which needs the `UserEntit

[2020-02-29 11:09] izundo-viennv commented on #41
Hi @doug-martin
If you want to get an entity instead of a dto, so you can implement code like this:

`user.service.ts` file:
[code]

`user.resolver.ts` file:
[code]

[2020-02-29 12:26] izundo-viennv commented on #37
@johannesschobel Do you have any idea about that?

[2020-02-29 13:13] izundo-viennv opened #42 "[Question] Relations with ReadResolver can't query relations"
@doug-martin I created a resolver extends from `ReadResolver` but it doesn't doesn't generate schema for query relations

[2020-02-29 13:47] izundo-viennv opened #43 "[Enhancement] Should return totalCount for calculating total pages"
@doug-martin  For now, I found that we just only paginate page by page, how can I do to paginate with total pages, because I don't know `totalCount` and for example If I have 100 pages, now I'm at page 2, how to jump to page 50

[2020-02-29 17:41] johannesschobel commented on #37
I think the go-to strategy would be to create various endpoints that return different type of objects.. for example it can return a User or a RestrctedUser object type depending on the method (query / mutation) you call. And respective method may be guarded with your custom logic!

Hope this helps

[2020-02-29 23:44] doug-martin commented on #43
I left this off for now, because counts can be expensive, in postgres it can mean a full table scan.

I'll look into this more after I work through the other issues.

[2020-02-29 23:51] doug-martin commented on #42
I went back and forth on whether or not the read resolver should automatically add relations. When using the read resolver by itself its picking a la carte functionality.

Looking at the source I see that I dont expose the Relateable mixin....Ill look into either exposing that or automatically adding the read relations.

The reason I wavered, was that It was unclear where the add/remove relations

[2020-02-29 23:55] doug-martin commented on #41
Hmm, I see your conundrum. When designing the services, I chose to expose the DTO since the entity/persistence layer is ultimately irrelevant to the CRUD piece of the framework.

There currently isn't a much cleaner way to do this (Sorry about that) but Ill look into making the `AssemblerService` injectable by exposing a module.

[2020-02-29 23:56] doug-martin commented on #40
Now that I have the e2e tests PR out, Ill add some tests around this and see if there is a fix, or if this is a limitation of nest with type-graphql.

[2020-03-01 04:51] izundo-viennv opened #45 "[Discussion] Architecture design for service classes"
@doug-martin @johannesschobel  I'm thinking about you should come with another solution for service classes. Service classes are now depending on DTOs, so it's hard to custom if you have multiple dtos for one entity and you must have multiple services relatively. For example if I have UserDto1 with `firstName`, `lastName` used by web app and UserDto2 with `firstName`, `lastName`, `isDeleted`, `rol

[2020-03-01 04:57] izundo-viennv commented on #37
@johannesschobel So, we have to create a lot of dtos, but with that we will address performance issues

[2020-03-01 05:07] izundo-viennv commented on #43
@doug-martin the library should have an option for user to decide to use, it'll be unreasonable if when the user search something and they don't know how many results found, right?

[2020-03-01 08:32] johannesschobel commented on #37
Other possibility would be to create dedicated property resolver functions for each property and check within this function whether the user is allowed to get this data. Otherwise return null

[2020-03-02 02:48] doug-martin commented on #37
@izundo-viennv so, I played with this some, and I think given the current state of nestjs and type-grapqhl I think the best way to approach this currently, is to keep your DTOs as they are, and to add property resolver to your resolver for the restricted fields.

For example...

Assume you have the following DTO.

[code]

You could have the following resolver to check the `title` field.

**NOTE**

[2020-03-02 02:53] doug-martin commented on #35
For now I'm going to leave this up to the developer to decide.

The errors encountered using `nestjs-query` are not that different from what you would have to handle when doing this manually.

If you come up with a generic way to handle this please issue a PR but for now I'm going to leave this up to the user of the library.

[2020-03-02 02:53] #35 closed

[2020-03-02 02:57] doug-martin commented on #40
For relations you will need to follow the same directions that are laid out here https://github.com/nestjs/graphql/issues/295#issuecomment-511191060

This is not a limitation of `nestjs-query` but https://github.com/nestjs/graphql. I will add something to the documentation to call this out to prevent confusion.

[2020-03-02 03:06] doug-martin commented on #40
Reading the docs put out the section you called out was under the `Relations` docs which is correct. I updated them to call out they `guards`, `interceptors` and `filters` will not work for relations instead of the `read` endpoints.

[2020-03-02 03:06] #40 closed

[2020-03-02 03:09] #37 closed

[2020-03-02 03:38] doug-martin commented on #18
@johannesschobel is this still an issue?

[2020-03-02 06:08] johannesschobel commented on #37
That is what I meant in my previous post. However I was not sure if you could directly add the guards to the method itself!

Great work

[2020-03-02 08:37] johannesschobel commented on #41
Dear @doug-martin ,

may i propose a suggestion?
I would like to see the `query-typeorm` and `query-graphql` package to **not** be linked together. Currently, the `typeorm` package kind of requires the `graphql` package, as the `QueryService` needs to be instantiated with the `DTOs` (`ObjectType`s). I know, that this is not a real dependency - however, it is a weak one (in my opinion).

I would li

[2020-03-02 08:46] johannesschobel commented on #45
can we close this issue in favour of the original one in #41 ? otherwise we have discussion in multiple  places :)

[2020-03-02 09:30] izundo-viennv commented on #37
@doug-martin Can it be a performance issue or not?

[2020-03-02 09:51] johannesschobel commented on #37
i think, it _may_ be slower, as additional methods with respective logic have to be called and performed. However, I don't think that it will dramatically decrease the performance of your API..

[2020-03-02 10:00] izundo-viennv commented on #37
But I think service shouldn't return DTO, because we don't just simple to create and update directly to db, we need to add some logic (transaction, ...) before insert and update to db. That will be good if converting dto to entity performed at resolvers without services. Services should only work with entities

[2020-03-02 10:17] johannesschobel commented on #37
Dear @izundo-viennv ,

that the service should or should not return an `ObjectType` is another issue that has nothing to do with your current issue of restricting access to particular fields.

The proposed solution of limiting the access via `@ResolveProperty()` methods would be implemented in the respective `Resolver` of the `ObjectType` and, therefore, has nothing to do with the underlying `Serv

[2020-03-02 10:37] johannesschobel commented on #18
Dear @doug-martin , actually yes, but i wasn't able to prepare a repo for you as i was very busy last week :( (there are currently exams at university)

[2020-03-02 10:46] johannesschobel opened #47 "[Question]: Overwrite Relation Methods"
Dear @doug-martin ,

i just wanted to ask, if it is possible to overwrite the relationship methods of the `Resolver` class.
Consider the following example:

I have 2 `ObjectTypes` for `User` and `Group` with their corresponding `Entitites` and have my `Resolver` set up like this:
[code]

This will auto-generate some methods to add / update / delete the assignment between `User` and `Group`. Howeve

[2020-03-02 13:30] izundo-viennv opened #48 "[Question] Ask contact"
@johannesschobel @doug-martin Could you please give your contact? I want to discuss with you about something. Are you ok?

[2020-03-02 17:13] doug-martin commented on #48
@izundo-viennv this is not appropriate.

[2020-03-02 17:13] #48 closed

[2020-03-02 19:52] doug-martin commented on #47
Hi @johannesschobel, I would use a guard to do this, currently using guards with relations applies it to all operations related to the relation.

Do you want to check that they have have accepted terms in both add and remove? If you want it to only appy to the add operations It will require an enhancement to specify certain guards for the operation types.

[2020-03-02 19:53] doug-martin commented on #45
@johannesschobel I agree moving to #41.

[2020-03-02 19:53] #45 closed

[2020-03-03 06:53] johannesschobel commented on #47
Dear @doug-martin ,
i am not sure, if it is possible to use a guard for this approach, as i may need some more complex business logic (not sure yet).

For now, I managed to work around it like this:
[code]

May not be the best solution, but works (for now :laughing: )

[2020-03-03 07:31] johannesschobel commented on #43
Dear @izundo-viennv ,
as you may noticed, this package uses the `relay-pagination` style, which is a `cursor-based` pagination. This, in turn, means, **that you cannot properly calculate the amount of pages**!

When using a `page-based` pagination style, the request contains the page-number to be returned and the amount of entries per page. In this context, you can calculate the total amount of pa

[2020-03-03 08:18] johannesschobel commented on #43
to further explain the quote

This often means, that you have to make an additional (!) sql statement to query the count. Especially in the context of "nested relationships" this may result in `n*2` queries instead of `n`.. Further, those "count queries" (lets call them so for now) are not cacheable by the database and you cannot "optimize" them with index or stuff like this.. they dramatically de

[2020-03-03 19:57] doug-martin commented on #43
@johannesschobel thank you for the great response. You clearly explained all of my hesitations in making this change very well kudos!

[2020-03-03 19:58] #43 closed

[2020-03-09 01:09] doug-martin commented on #41
@johannesschobel this has been addressed in `v0.6.0` I created a [migration guide](https://doug-martin.github.io/nestjs-query/docs/migration-guides/v0.5.x-to-v0.6.x/) to explain some of the changes.

In short the TypeOrmQueryService changes were reverted the previous state, and a new `AssemblerQueryService` was introduced that will wrap another service to act as the translator.

I also added a new

[2020-03-09 01:09] #41 closed

[2020-03-09 01:10] #42 closed

[2020-03-09 01:10] #47 closed

[2020-03-09 09:38] johannesschobel commented on #41
Dear @doug-martin ,
damn, you're awesome! thanks for the migration guide. I am currently reading your description and will try to upgrade to the latest version. Looks kind of awesome ;) Let you know, how it went :laughing:

[2020-03-09 13:15] johannesschobel commented on #41
Dear @doug-martin ,

ok, i just updated to the latest version, and it kind-of-works. However, i have a question - in order to better understand your approach:

Now (as of version `0.6.x`) it works like this:
1) i create a service that returns my entities from the database
2) i inject this service in my resolver
3) the plain service now returns `entities` instead of `objects`. These `entities` now

[2020-03-09 13:28] johannesschobel opened #51 "[Issue]: AssemblerService takes Objects Input instead of Entities"
Dear @doug-martin ,

the newly added `AssemblerService` (added in `v 0.6.0`) takes an `xDTO` instead an `xEntity`.
Should this be changed to `Entities`?

https://github.com/doug-martin/nestjs-query/blob/81a1cd59e13f6d91c26df1e70d9b0f047e1f6ecc/packages/core/src/services/assembler-query.service.ts#L19-L22

All the best,
Johannes

[2020-03-09 14:10] johannesschobel opened #52 "[Question]: How to properly use the AssemblerService"
Dear @doug-martin ,

how can i properly use the `Assembler` within the `Resolver`?
For example, in #41 we have excessively discussed that the `Service` should work on `Entities` and not on `Objects`. Your newly published `v 0.6.0` version already introduced these changes :+1:

However, i would like to use the `AssemblerService` within the `Resolver`.

My use-case looks like this:
1) add a custom `

[2020-03-09 14:19] johannesschobel commented on #52
I am very sorry, if i may be misinterpreting the usage of the `assembler` for now :laughing: please correct me, if i understood it wrong

[2020-03-09 21:12] doug-martin commented on #52
I'm not sure I completely understand, but I'll take a stab.

I would do this in my service, and not the resolver.

For example

[code]

[code]

I am not sure what an AssemblerModule would accomplish in this scenario, it would still need to know what the underlying QueryService and DTO type is to translate back and forth.

If we put it in the resolver, in other places where we need the translation

[2020-03-09 21:20] doug-martin commented on #51
This is intentional. The assembler query service only works on DTOS, bouncing back and forth between entity and DTO depending on which method is being used would be confusing.

Say for example you have a DTO

[code]

and an entity
[code]

If the `AssemblerQueryService` accepted a partial of entity for creates and returned a DTO it could lead to confusion pretty quickly.

[2020-03-10 06:35] johannesschobel commented on #51
Ah, ok. Didn't get that ;) thanks for the clarification

[2020-03-10 06:35] #51 closed

[2020-03-10 07:17] johannesschobel commented on #52
Dear @doug-martin ,

thanks a lot for your answer and your dummy-code. I was thinking about something similar my own, but was not sure if this would be the way to go. I thought about "transforming forth and back" in the `Resolver` as it would be more meaningful for me.
I.e., the resolver takes the query from the user, transforms it properly, calls the underlying services (i.e., get data from the d

[2020-03-10 22:07] doug-martin commented on #52
I'd like to preface my response with this is my personal opinion, and I think the building blocks are here to do it either way.

With that said I've seen this done a couple of different ways, but in your case since its outside the scope of the CRUD stuff, I would extend `TypeOrmQueryService` with the business logic of working with the entities (this encapsulates the logic of how your database is w

[2020-03-10 22:14] doug-martin commented on #52
As a followup to my response an example would be

[code]

[code]

[code]

[2020-03-11 06:58] johannesschobel opened #54 "[Question]: Support SoftDeleting"
Dear @doug-martin ,

yesterday evening i stumbled upon **this** awesome PR in the `typeORM` repository: https://github.com/typeorm/typeorm/pull/5034

This PR, basically, adds the whole `soft delete` stuff to the `Repository` classes and so on. Best thing is, it has already been merged and is ready to be used. The docs of the project, however, does not mention it (yet).

So here is my question:
Sha

[2020-03-11 07:48] johannesschobel commented on #52
Dear @doug-martin ,

wow, thank you SO much for your very detailed answers and the passion you put into this project :+1: I really (!) appreciate it!

I think I got your thought-process on this one now..
The main issue I had, was that i did it the other way round in another project. In this project we had a `http REST` and `GraphQL` interface for the clients (again, haha). Main application structu

[2020-03-16 10:46] johannesschobel opened #56 "NestJs 7,0 BREAKING CHANGES"
Dear @doug-martin ,

i hope you are well?!
I just found out, that `nestjs v7.0` was released during the weekend. There are some really hard breaking changes, especially in the context of `GraphQL`. I am not sure if you already found the release notes:
https://trilon.io/blog/announcing-nestjs-7-whats-new#GraphQL-TypeScript

The most crucial change is, that the "code-first" approach with `type-graph

[2020-03-16 15:02] doug-martin commented on #56
Hi @johannesschobel, yeah I saw this saturday!

I've alomost got it working, I have had to change some of the internals since its not as simple as their migration notes would lead you to believe. I hope to have a pr out today or tomorrow.

[2020-03-16 15:06] johannesschobel commented on #56
damn, you're fast!

from the "developer using your library"-point-of-view: How much effort is it to switch from 6.x to 7.0? Is it only changing the imports and you're good to go?

All the best and stay safe

[2020-03-16 16:37] doug-martin commented on #56
For the most part it will be changing from `type-graphql` to `@nestjs/graphql` and you will now need to register a module `NestjsQueryGraphqlModule` that will wire up the resolvers.

@nestjs/graphql changed how the decorators work entirely and resolver inheritance no longer works, so I'm having to change how the decorators work.

Im still working on getting all the tests to pass so it may change m

[2020-03-16 19:40] doug-martin commented on #56
Well I hit a roadblock. Hopefully https://github.com/nestjs/graphql/issues/659 can be fixed soon.

[2020-03-17 14:29] johannesschobel opened #57 "[Question / Request]: Expose Repository in AssemblerService"
Dear @doug-martin ,

and again - it's me, haha :laughing: ,
do you think, it would be possible to expose the `repo` of the `queryService` of the `assemblerService`?

Currently, i would need to inject both, the `DatabaseService` and the `AssemblerService` in the `Resolver`, if i want to access the low-level repository functions. I think, it would be better to just use
[code]

what do you think? Onl

[2020-03-21 19:33] doug-martin commented on #56
Support for nest 7 is in `v0.7.0`

[2020-03-21 19:33] #56 closed

[2020-03-22 13:39] johannesschobel commented on #56
you are awesome! thanks a lot for your work! :+1: i will try to upgrade to nest 7 next week and then upgrade to 0.7.x as well!

[2020-03-23 15:24] johannesschobel commented on #56
worked like a charm - thanks a lot

[2020-03-25 18:28] amille14 opened #61 ""Page not found" in docs for TypeOrmQueryService"
Several places in the docs refer to the TypeOrmQueryService docs and link to the following page:
https://doug-martin.github.io/nestjs-query/docs/typeorm/getting-started/services

This seems to be a broken link, not sure where the actual docs for TypeOrmQueryService live now.

[2020-03-25 18:30] doug-martin commented on #61
Thanks for pointing that out...feel free to open a PR to fix.

Otherwise Ill try to get to that tonight.

The service documentation is now located in the [`usage doc`](https://doug-martin.github.io/nestjs-query/docs/typeorm/usage#creating-a-service)

[2020-03-25 20:34] zgriesinger opened #62 "[Question/Feature Request] Support for Apollo Federation"
I am attempting to create two APIs using `nestjs-query` and combine them into a single graph using [Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/introduction/).

I am having trouble when combining the two APIs when one API extends a type defined in another schema.

For example:
Say I have a `user-service` that exposes a `User` Type with the `CRUDResolver`. This wi

[2020-03-26 01:19] doug-martin commented on #61
This turned out to a a couple of issues.
1. A docusaurus bug, upgrading fixed.
2. A couple of wrong links.

Thanks again for reporting!

[2020-03-26 01:19] #61 closed

[2020-03-26 04:06] doug-martin commented on #62
@zgriesinger how do you extend the user type? I haven't seen a code first example of federation in nest. Reading through https://docs.nestjs.com/graphql/federation it looks to be all schema first.

Thats not to say I'm opposed, I havent done research in this area, but I do wonder if there is a better way to extend a type.

[2020-03-26 04:18] doug-martin commented on #57
@johannesschobel hello again!

I would like to keep this out of the query service, I've tried to keep it generic enough to allow different implementations (typeorm, sequelize, etc) to be able to implement it. Once we introduce a repo that adds  another level of contracts.

Currently we only have typeorm, but as I'm finishing up the sequelize work I think this would be more difficult without having

[2020-03-26 04:25] doug-martin commented on #54
@johannesschobel from what I have seen this is a common enough feature to support!

What haven't researched enough yet, to have an opinion on, is if it should be in the resolver or at the query service. If you put it at the resolver it then has control over whether or not a soft delete occurs at the request level, at the query service you could reuse it in multiple resolvers without having to worr

[2020-03-26 09:00] johannesschobel commented on #57
Dear @doug-martin ,
yeah, i have already played around with this a bit in a local copy of this repo. And i could not get it to work to return a type safe `Repository`. The only thing that may work, would be to use generics - again, as you did across all the other services. One would need to type the `return repository` class..

this would be, of course, a breaking change, because you need to prope

[2020-03-26 09:24] johannesschobel commented on #54
Dear @doug-martin ,
my suggestion would be as follows:
* create several new methods on the `DatabaseService` level (i.e., to soft-delete an entity, to hard-delete an entity, to restore an entity, ...) so the service would be greatly enhanced with these new features.
* add those methods to the `AssemblerService` as well

Now those features can be used independently..
Finally, i would
* add new opti

[2020-03-26 13:29] zgriesinger commented on #62
The code first approach does not have an example in the Nest.js Docs but here is what the DTOs would look like:
[code]
The `resolveReference()` function in the Resolver is largely the same as the Nest.js docs.

[2020-03-27 16:44] dustinsmith1024 opened #64 "Docs issue"
Missing import of Filter to the custom resolver docs.

https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers/#guards-pipes-filters-and-interceptors

[code]

[2020-03-27 16:45] dustinsmith1024 opened #65 "Create Mutations are allowing Updates"
Create mutations are allowing Updates to user data.

If this is what we want then it should be documented. If not then it should raise and error or just return the old data.

I think my preference is for it to return the old data.

[2020-03-29 04:06] doug-martin commented on #65
Fixed in @nestjs-query/query-typeorm `v0.7.3`

[2020-03-29 04:06] #65 closed

[2020-03-29 04:07] doug-martin commented on #64
Fixed and published new docs

[2020-03-29 04:07] #64 closed

[2020-03-30 09:17] zerox12311 opened #69 "It's guard and ResolveProperty still work?"
I tried @ResolveProperty and guard , but I found it doesn't work any more.
I just follow document getting started and then add it.
I had add **fieldResolverEnhancers: ['guards', 'interceptors'],** in GraphQLModule.
Is me miss anything?

[2020-04-01 12:30] johannesschobel opened #71 "[Question]: Filter By Relationships"
Dear @doug-martin ,

once again - I have a question regarding the use of your library.
Consider the following example:

I have three Entities, which are linked. One `Person` has written many `Post`s, one `Post` belongs to one `Board`. Likewise, a `Board` contains many `Post`s, one `Post` belongs to one `Person`. The relationships are all set up via `TypeOrm` via `@ManyToOne()`. Furthermore, i have

[2020-04-01 12:46] johannesschobel commented on #71
Okaaaaaaaaaaaaaaaaay... i think, i found a solution..
Setting the filter like this works:
[code]

However, the IDE throws errors like this:
[code]

This is a dirty hack, and may not be intended to work. However, i read in the docs, that the `filter` is directly translated to a `TypeOrm` `where`-clause. In `TypeOrm` you may do it like this:

[code]

Maybe you can guide me to the proper approach?

A

[2020-04-01 14:50] johannesschobel opened #72 "[Bug]: Defining additional UpdateDtos breaks Schema"
Dear @doug-martin ,

while working on custom resolver methods, i stumbled upon an issue, i was able to reproduce in your example repository (shipped in this library).

You can take a look at the "how to reproduce" by looking at my commits here

### https://github.com/doug-martin/nestjs-query/compare/master...johannesschobel:issue/update-dto

# Description
I wanted to add a dedicated `completeTodoI

[2020-04-02 13:13] johannesschobel commented on #69
Dear @zerox12311 ,

note that this package now requires `NestJS 7.x` under the hood. The most important change from Nest6 -> Nest7 are all within the `graphql` package. This package now provides the `code-first` approach, that was previously provided by the 3rd party package `type-graphql`.

Nest7, however, renamed the `@ResolveProperty()` decorator. It is now called `@ResolveField()` i guess!

Al

[2020-04-06 03:29] zerox12311 opened #76 "[Suggestion] Maybe can add more entry point to service to supply override"
I think it can supply like **preCreate** method in ** TypeOrmQueryService** class, then I need to modify data before insert , I can override it and I don't need to override all createOne method.
This suggestion is from [django rest framework ModelViewSet](https://github.com/encode/django-rest-framework/blob/master/rest_framework/mixins.py#L23:1).
How do you think about it?

Like:
[code]

[2020-04-06 10:30] praaxe opened #77 "[Bug]: Mysql error "LIMIT in subquery""
Hi @doug-martin ,

## Context
I'm using nestjs-query to easily implement graphql in my company and this project is really great and usefull !!

In this project we have multiple endpoints and multiple databases (all in mysql 5.7). Currently we are working on one main endpoint and some entities from other databases.

I made a repo to reproduce the issue : https://github.com/praaxe/nestquery-example

[2020-04-06 16:08] doug-martin commented on #77
@praaxe thank you for the detailed issue write up!

I'm starting to think better approach for the connections may be to not do sub queries, since it is flakey across databases and versions, and I dont want to have to try to detect DB flavors and versions as that belongs in the persistence layer (e.g. Typeorm).

We could still use dataloader so the queries only run once but it wont issue a single q

[2020-04-06 16:13] doug-martin commented on #72
Yep, I see the issue.

In https://github.com/doug-martin/nestjs-query/blob/master/packages/query-graphql/src/types/update-one-input.type.ts#L23 we set the `InputType` name. I think the fix would be to update it to be abstract and let the implementing code specify the `InputType` name.

This would apply for all the create, update and delete types. Ill try to take a look at this over the next couple

[2020-04-06 16:34] johannesschobel commented on #72
Dear @doug-martin ,

thanks for confirming this bug. Glad i did nothing wrong here :smile:

Basically, you would change it to something liket his, right?
[code]

Am I correct?
All the best,
Johannes

[2020-04-06 17:05] praaxe commented on #77
I think this would be a better approach indeed. With dataloader it won't break down the database and each request will be very efficient.

We did it in a previous test implementation and dataloader really did the job to resolve n+1 issue.

[2020-04-07 04:06] doug-martin commented on #72
@johannesschobel I'm working on this now.

It looks like its going to be updated to

[code]

and the `UpdateOneInputType` will be changed to

[code]

[2020-04-07 05:22] doug-martin commented on #72
@johannesschobel I've pushed up my changes to https://github.com/doug-martin/nestjs-query/tree/issue72 I'll finish cleaning up the docs and stuff tomorrow.

I ended up changing the the `UpdateOneInputType` method to the following

[code]

Once I publish you should be able to just extend the type like so

[code]
And the graphql type will be named `CompleteTodoItemInputType`.

Let me know what you t

[2020-04-07 08:44] praaxe commented on #77
Moreover I encountered an issue with entities from another database where I couldn't declare the relation in the entity because the library didn't find the second entity in the connection of the first entity.

With new queries instead of sub-queries this could be addressed too =)

[2020-04-07 09:00] johannesschobel commented on #72
Dear @doug-martin ,
thanks for sharing your thoughts on this and discussing the further roadmap with me!
Actually, i like the idea of just creating it as an `abstract` class! For the "dummy" implementation (i.e., no custom type was defined), the abstract class is extended with no particular changes, right?

So basically - for the developer using your awesome library, nothing changes ;)

All the be

[2020-04-07 15:28] doug-martin commented on #77
Do relations in different DBs work in TypeOrm without nestjs-query? I can see one to one may work but I'm not sure how many to many would work.

[2020-04-07 15:38] praaxe commented on #77
Actually I just implemented one side of the relations (from the main database to the second) and I couldn't declare the relation in entity so I did it in the resolver.

I will update the example project to implement a second database and a second module like I did for my company to show you.

[2020-04-07 16:34] praaxe commented on #77
Project is now updated with a second database.
Pull the new  version, re-run fixtures and you're good to go.

I commented the instantiation of graphql in second.module.ts because we use only one endpoint with ReadResolver for entities from other database but if you want to uncomment it both endpoints will work just fine.

[2020-04-08 04:01] doug-martin commented on #72
This is published under `v0.8.0` I had to make breaking changes to the create and update input types, since the no longer required the "base" dto.

So your update type would change from
[code]
To
[code]

Small change but still breaking. You can checkout the [types](https://doug-martin.github.io/nestjs-query/docs/graphql/types) documentation for more info.

Thanks again for the bug report!

[2020-04-08 04:01] #72 closed

[2020-04-08 04:04] doug-martin commented on #76
@zerox12311 this library isnt intended to replace an orm, instead I would take a look at https://typeorm.io/#/listeners-and-subscribers/what-is-an-entity-listener for examples on different model hooks.

[2020-04-08 08:40] johannesschobel commented on #72
Dear @doug-martin
thank you very much for the new release.
The time needed to adapt to the latest changes will be minimal - thank you for keeping the public API so clean and slim! Very much appreciated!

Can you please release the new version on npm? It has been tagged on GitHub but not released on NPM so far..

All the best and thank you very much for your time and effort working on this library!

[2020-04-08 08:55] praaxe opened #79 "[Suggestion] Update many input as array"
Hello @doug-martin,

We are still using your awesome library but today we hit a wall with multiple update.
Let's say we want for an entity to set all entities with an id below 10 to status A, all entites with id between 10 and 20 to status B, etc.

The only we to do it we found was to make multiple call since updateMany does not take an array as input and we can't call multiple time the same mutat

[2020-04-08 10:39] praaxe commented on #79
It seems that we have the same issues with ManyToMany relations and the addXXXToYYY mutation.

I don't know if this can be done easily but that would be awesomer than it actually is =D

[2020-04-08 15:38] doug-martin commented on #72
Sorry about that its published!

[2020-04-09 03:10] doug-martin commented on #79
Hi @praaxe

I'm hesitant to change this in the resolvers, you can still make.

You could try something like the following to do it in one request

[code]

[2020-04-09 03:12] doug-martin commented on #77
@praaxe I fixed the issue with limit in sub queries in `v0.8.1` let me know if you have any issues.

For relations that are not in the same DB, that wont currently work since the relations are based on what typeorm knows about. This isnt ideal but I'll need to think about how do make relations decoupled from the persistence layer.

[2020-04-09 03:12] #77 closed

[2020-04-09 03:13] #76 closed

[2020-04-09 04:09] doug-martin commented on #71
@johannesschobel I would create a custom method in my service that calls the repo directly to translate query.

[2020-04-09 08:50] praaxe commented on #79
oh !
I didn't know we could use aliases !

This is indeed a nice solution to our issue. Thanks for the tip.

[2020-04-09 08:50] #79 closed

[2020-04-09 10:31] praaxe commented on #77
I just updated my project and it work just fine, thanks @doug-martin  !

And yes, I just realized that the error I get come from TypeOrm. Don't worry too much about that, this isn't an usual behaviour and it works anyway.

There is just one thing that I saw with the new version about dataloader, you use it to batch the queries but when you have all the queries to run you still make multiple calls

[2020-04-10 01:28] zerox12311 commented on #76
@doug-martin I know this library isn't intended to replace orm.
Entity Listener just handle one entity action, If had more entry point in service layer, I can do more complex thing like query another entity or with my logic.
For example I have an entity with user field, I want to add this field automatic in my logic, so I need to query user table with some logic and insert it in backend.

[2020-04-10 04:10] doug-martin commented on #77
@praaxe yeah I don't like that we cant batch those up, but with the limitation you ran into with mysql 5.7 I haven't found a clean way to do it without subqueries since each query has its own paging params and sorting params that cant be applied to the main query.

The separate queries are cached with dataloader and subsequent calls within the same request should not be executed twice.

If you hav

[2020-04-12 17:14] johannesschobel commented on #72
you are awesome.. happy eastern - wish you all the best!
will try to update the lib next week!

[2020-04-14 19:37] coder2000 opened #81 "Expecting DTO instead of Entity"
I have a couple of resolvers that are not working as they are expecting the QueryService to be for the DTO and not the entity class. Is this normal?

One of the resolvers is for the podcast and you can view the code at https://github.com/coder2000/speakrr/blob/master/packages/server/src/modules/podcast/podcast.resolver.ts

[2020-04-14 20:07] amille14 commented on #81
I ran into the same issue. I ended up just making my DTO and Entity classes the same class and its working. Not ideal if you'd rather keep them separate.

[2020-04-14 20:16] amille14 opened #82 "[Question / Feature Request] Add support for extending abstract object types"
I currently have something like the following:
[code]
[code]

The generated schema will properly include `id` and other properties from `BaseEntity` in the `User` type, however, these properties are not included in generated types related to filtering and sorting, only the properties of class `User` are available.

Is there something I'm doing wrong or is this not supported? If not, I would like t

[2020-04-14 20:37] coder2000 commented on #81
I had them as the same class originally, however, due to the relationships I was getting errors about being unable to find input classes.

[2020-04-15 18:00] coder2000 commented on #81
Thank you for your assistance on the NestJS discord server.

[2020-04-15 18:00] #81 closed

[2020-04-15 20:52] doug-martin commented on #82
@amille14 thanks for submitting!

This isnt currently supported, but I don't think it should be too much work to add it. I'll look into it.

[2020-04-15 21:23] doug-martin opened #84 "[DOCS] Call out foreign keys in entity and DTO"
Currently typeorm automatically adds the foreign key to the entity. In the examples this point is glossed over.

Add some docs about the foreign key in the DTO and in the entity.

[2020-04-15 21:24] doug-martin opened #85 "[DOCS] Relations on an entity/dto"
Add a section in the docs about entities with relations and decorating with a `@Field` resolver. This wont work because the relations are handled through the CRUD resolver.

[2020-04-15 21:28] #71 closed

[2020-04-16 03:37] doug-martin commented on #82
This should be fixed in `v0.8.3`. Let me know if you have any issues, thanks again for reporting!

[2020-04-16 03:37] #82 closed

[2020-04-16 23:38] #84 closed

[2020-04-17 00:09] #85 closed

[2020-04-20 15:33] amille14 opened #91 "[Querstion / Feature Request] Support for filterable array fields"
Is there any way to have a filterable array field? For example, I have a type/entity with an array of tags like so:
[code]

If I change the `@Field` decorator to a `@FilterableField` decorator, it breaks with a `TypeError: Cannot read property 'charAt' of undefined` error. I assume this is because filterable array fields are not supported? I didn't find anything about it in the docs.

I would like

[2020-04-22 07:33] johannesschobel commented on #76
Dear @zerox12311 ,
yeah, but you could also extend the `UserDatabaseService` that is automatically generated by this library and then overwrite the `createOne()` method (for example).

Within this method, you just call the `super.createOne()` method (from the extended class) and add your logic before / after this call. That would be another possibility..

Hope this helps

[2020-04-22 20:27] doug-martin commented on #91
I'll have to look into how this could be supported, or how generic it could be I think this would depend on the dialect that is being used.

In postgres we could use jsonb but I'm unsure about others. If you have any suggestions I'd love to hear them.

Thanks!

[2020-04-24 01:47] #69 closed

[2020-04-24 02:50] doug-martin commented on #62
Basic federation support added in `v0.8.5`

[2020-04-24 02:50] #62 closed

[2020-04-25 21:25] doug-martin commented on #54
@johannesschobel I finally got around to integrating this!

I deviated from you suggestion a little bit opting to keep this at the service level. I decided to do this because.

1. When adding the `@DeleteDateColumn` decorator typeorm automatically changes the way reads work to always add a filter to remove records where the columns is not null.
2. Other ORMs store this info at the entity level.

T

[2020-04-26 05:04] doug-martin commented on #52
I added more docs to the assemblers section and moved to an advanced section. @johannesschobel if you find areas that could be expanded or clarified **please** feel free to modify and issue a PR!

https://doug-martin.github.io/nestjs-query/docs/concepts/assemblers#why

[2020-04-26 05:04] #52 closed

[2020-04-26 05:07] doug-martin commented on #57
I'm going to close this for now given conversation in other issues. If you come up with an easier way to integrate this OR better documentation to address this concern please issue a PR.

I'll work on adding additional docs around this in the mean time!

[2020-04-26 05:07] #57 closed

[2020-04-26 05:08] doug-martin commented on #18
Closing for now, if you come provide a repo with an example you can comment on here or open a new issue.

[2020-04-26 05:08] #18 closed

[2020-04-29 01:49] zerox12311 opened #133 "hasPreviousPage always return false"
I using paging with **first** and **after** to change my cursor in my graph query but I get **hasPreviousPage** always return false, I think it is a bug?

[2020-04-29 03:41] zerox12311 commented on #133
I have created a pull request, but I don't know what branch should created it.
Please have a look of it.

[2020-05-02 03:41] doug-martin commented on #133
Fixed an published `@nestjs-query/query-graphql` `v0.10.1`

[2020-05-02 03:41] #133 closed

[2020-05-05 15:18] johannesschobel commented on #54
Dear @doug-martin ,

sorry I come back to this issue. I carefully read your documentation on the `TypeOrm SoftDelete` feature and studied your example.

Thereby, I thought, that it may be possible to add a `restore` parameter to the `CRUDResolver`? It seems that you would re-write the same mutation over and over again to restore one or multiple entities.

The resolver would just call the `service.

[2020-05-05 15:20] johannesschobel commented on #54
I will take a look at it this week, as i would like to integrate `SoftDeletes` in my API

[2020-05-05 15:24] doug-martin commented on #54
@johannesschobel would you mind creating a new issue to track this?

[2020-05-05 15:24] #54 closed

[2020-05-05 15:29] johannesschobel opened #159 "[Improvement] SoftDelete Restore Function in Resolver"
Dear @doug-martin ,

sorry to bring the `SoftDelete` topic back to the table. I carefully read your documentation on the TypeOrm SoftDelete feature and studied your example.

Thereby, I thought, that it may be possible to add a restore parameter to the CRUDResolver? It seems that you would re-write the same mutation over and over again to restore one or multiple entities.

Ideally, this could look

[2020-05-06 10:12] johannesschobel opened #162 "[Improvement]: SoftDelete include Deleted Entries"
Dear @doug-martin ,

in #54 you stated:

As promised, i looked into the issue and found a quite easy solution for this issue :laughing:

Please see my (very dirty, haha) solution below:

[code]

We could provide a new parameter for the `CRUDResolver` similar to `read` and call it `readDeleted`. This param, in turn, would generate 2 additional query endpoints that you may call. FInally, these queri

[2020-05-06 11:17] johannesschobel opened #163 "[Regression]: StaticConnection.createFromArray was removed"
Dear @doug-martin ,

i noticed, that the `StaticConnection.createFromArray()` method was removed in the last update. See this commit here:
https://github.com/doug-martin/nestjs-query/commit/13c7bd90dae9e5d6ffd33a8813b2cdfcc75ae131#diff-6286edfbb6983083734736506f449291L40

Is there any particular reason for this? Maybe we can add this method back in? Or is the "replacement" for this method the `cre

[2020-05-06 11:47] johannesschobel commented on #163
Ok, i already managed to adapt my code to the latest version. Just wanted to give feedback, that this MAY BE a breaking change for others as well!?

[2020-05-09 11:36] ridyio opened #171 "[Possibility] Subscription feature possibility"
I have been wondering if it would be possible/planned to include subscription with this library. Subscription can create neat user experiences but creating them in manual way is cumbersome to do. Generally subscriptions can be useful for a few types of listeners. Can't they be implemented into library so they would get called upon mutations?
Sorry if my question has lack of understanding on how li

[2020-05-12 01:48] doug-martin commented on #171
@ridyio thank you for the question.

TBH I havent looked into subscriptions in nestjs-graphql too much yet. I have been more focused on stabilizing the library and working towards a `v1`

Feel free to research and propose a plan!

[2020-05-12 02:39] doug-martin commented on #163
@johannesschobel sorry about that!

I removed that because it did not provide for a way to create a proper connection. With a [zero version](https://semver.org/#spec-item-4) the API is subject to change, I've tried to keep all breaking changes as a minor version and features/bug fixes will be a patch.

In hindsight I should have created a migration doc :(

[2020-05-12 02:39] #163 closed

[2020-05-13 06:38] johannesschobel commented on #163
Dear @doug-martin
thanks a lot for your reply. Yeah, i know, that the `0.x` version is not stable and may be subject to a lot of changes. I just thought, this was a change by accident - so i reported it here.

Nevermind, i just changed my code accordingly to use the new / old `createFromPromise` and it works just fine ;) All good!

Thanks for your time

[2020-05-13 06:39] johannesschobel commented on #171
Dear @doug-martin ,
wow, glad to hear about the `v1` information! that is awesome news.. Do you have an estimated time plan for this? Just wondering!

[2020-05-20 04:28] kodeine opened #207 "Events"
is it possible to add [events](https://github.com/javascript-dragons/nest-event)?

[2020-05-22 15:12] johannesschobel opened #212 "[Bug]: GetById(NULL)"
Dear @doug-martin ,

i recently noticed a bug (at least i call it a bug) in the `typeorm` package with the `DatabaseService / AssemblerService.getById()` and `.findById()` methods.

Both methods return **the first entity in the table** if you call them with `null` or `undefined` as parameter.

For example:
[code]
returns the first user from the table - which is clearly wrong ;)
What do you think,

[2020-05-22 15:34] johannesschobel commented on #212
ok, i think, this is because of the `strict: true` flag in your `tsconfig`. However, mine does not use the `strict: true`, and therefore i can pass `null / undefined` as well.

Shall we prevent this behaviour via an additional check in both functions?

[2020-05-26 03:39] rshriyan opened #223 "[Question] - Filter on Relation fields"
Hello Doug

I started working on GraphQL just this week so I am a total beginner. I came across your abstraction for CRUD operation's and it seems to fit my requirement very well. I do have a question for you. I have the following relation(Psuedo code):

[code]

Frontend client is showing all of this data as flat list meaning:

`Car Name | Manufacturer Name`

With the standard setup and by using `

[2020-05-26 08:41] Diluka opened #224 "[FR] support filterable enum fields"
currently raise errors when fileds are enum typed

[2020-05-26 16:52] doug-martin commented on #223
This package doesnt currently support filtering on relation values.

One way to achieve this is to think about the problem slightly differently, instead of using car as root of your query instead query for manufacturers with the name you want to query for and include their cars.

[2020-05-26 16:58] doug-martin commented on #212
I'm hesitant to change this because
1. The type signature does not allow for null and I dont think it makes sense to check for null when the method doesnt accept that value
2. The TS compiler can help prevent errors like this.

I haven't used typescript without `strict:true`, are you able pass in null for other methods also? Is there a reason you do not have strict enabled?

[2020-05-26 18:39] coder2000 opened #226 "Class constructor TypeOrmQueryService cannot be invoked without 'new'"
When creating a default service with nothing other than super it throws this exception:

`TypeError: Class constructor TypeOrmQueryService cannot be invoked without 'new'
    at new QueueService (/home/coder2000/Projects/speakerr/packages/server/dist/src/modules/queue/queue.service.js:37:23)
    at Injector.instantiateClass (/home/coder2000/Projects/speakerr/node_modules/@nestjs/core/injector/inje

[2020-05-27 06:21] johannesschobel commented on #212
Dear @doug-martin ,
thank you for your answer. I think, `strict` is not enabled by default, therefore, i don't have it enabled ;) I can pass `null` and `undefined` as function parameter, because with `strict: false` those 2 values are in every type domain (for `string`, `number`, `objects`, ...)..

All the best

[2020-05-28 12:30] renehauck opened #236 "nested FilterableField"
Hi,

I have a dto A which has a relation to dto B and dto A is offered via a query.
Is it now possible to use a "@FilterableField()" decorator within dto B, which makes it possible to filter or sort by a property?

Something like this:
[code]
Thanks for the work :smiley:

[2020-05-29 05:28] doug-martin commented on #226
I tried a simple query service and it worked as expected.

[code]

Do you have simple example to help me try to reproduce the issue?

[2020-05-29 10:17] ingolf commented on #226
The same problem.
I tried to setup "target": "es6" in my tsconfig, but it doesn't work.

[2020-05-29 13:49] renehauck commented on #236
Sorry, I didn't see the issue here: https://github.com/doug-martin/nestjs-query/issues/223

[2020-05-29 13:49] #236 closed

[2020-05-29 14:41] doug-martin commented on #226
Hmm, I wonder if it’s related to the typescript upgrade. @ingolf would you mind sharing your tsconfig, and ts version?

[2020-05-29 15:09] ingolf commented on #226
@doug-martin
ts 3.9.3

tsconfig.json:
[code]

tscondig.dev.json:
[code]

[2020-05-29 15:09] doug-martin commented on #226
Ok I was able to reproduce, with

[code]

[2020-05-29 15:10] doug-martin commented on #226
@ingolf thank you!

[2020-05-29 15:17] coder2000 commented on #226
Is it an issue with Typescript or something we can workaround?

[2020-05-29 15:33] doug-martin commented on #226
@coder2000 I'm still debugging. But I'm curious did speakrr server run after this change https://github.com/coder2000/speakrr/commit/c6bbcdab626bdbbf2671ffd7f4c0831aee29b572

I see you downgraded the target version from `es2017` to `es5`, in my local testing es5 does not work, and going back through my versions I dont think it would have ever worked because the target has been `es2018`.

[2020-05-29 15:39] doug-martin commented on #226
@ingolf in your case did `nestjs-query` work with es6 in a previous version?

[2020-05-29 15:39] coder2000 commented on #226
You're right it was my bad, I changed the target to ES2017 and it works. Sorry for the trouble.

[2020-05-29 15:40] #226 closed

[2020-05-30 03:57] #212 closed

[2020-05-30 03:58] doug-martin commented on #207
@kodeine you can currently add the decorators from that library to the resolver, however I think this probably belongs on the QueryService.

Ill look into adding this in an upcoming release.

[2020-05-30 08:25] renehauck commented on #223
I guess the problem is that in my opinion it is not always possible to solve the problem that way. :disappointed:
For example if you want to implement a table in a frontend where one entry has many relations (A person who has a contact information, an address etc).
If you now want to filter/sort by address, would you already have a problem, or do I get something wrong?
For me and I think others, t

[2020-06-01 09:16] Diluka commented on #224
https://github.com/doug-martin/nestjs-query/blob/fe181ae67a10599974a58246cbababbb07ff32e5/packages/query-graphql/src/types/query/field-comparison/field-comparison.factory.ts#L26-L27

enum is not class, so it doesn't have `name` property

[2020-06-02 13:51] zerox12311 opened #251 "[Feature Request] Support for without paging"
Sometime I know the data is not need to paging, but the library is default to paging and no option to close it.
Have possible to supply a option to close it?

[2020-06-04 10:05] rglepper commented on #251
@doug-martin The main use case for having a way to avoid the pagination would be something like the TodoItems that you use for the example. If you implement a client, and create a new todoItem, on the client, it would normally be added to a list of todos, but if the list is paginated there's an unnecessary overhead to figure out where the newly created item should go etc. In this kind of applicati

[2020-06-04 16:19] doug-martin commented on #251
Starting to think about his more...would you expect the query functionality to work the same way, with filters, sorting, and a modified version of the paging option? Or remove the paging option all together?

[2020-06-05 01:53] zerox12311 commented on #251
I think it should be keep filters and sorting.
On the frontend side, if it can filter data at one time is more better then filter by frontend side.
For example:
Sometimes save selection option in database, and need to query it only in one time can fetch all data, if have some condition to filter in frontend, it will be increase more cost.
[code]

[2020-06-05 10:00] rglepper commented on #251
@doug-martin I think that having the filters and sorting would be nice to have but not required. From my point of view the main feature would be to be able to make a query that returns a response without pages, edges and nodes/cursors

[2020-06-07 02:56] doug-martin commented on #171
@ridyio I've added subscriptions to CRUD operations in `v0.12.0`. You can check out the docs at https://doug-martin.github.io/nestjs-query/docs/graphql/subscriptions

Feel free to provide any feedback.

Thanks!

[2020-06-07 02:56] #171 closed

[2020-06-08 00:25] aylabyuk opened #277 "custom resolver on CRUDResolver"
Hey @doug-martin! first of all this is a very awesome package, it helps me a lot remove most of the pain points in creating crud endpoints in graphql.

I had a question tho'. consider the following snippet.

[code]

So I was just trying to test a scenario wherein a CRUDResolver will return a plain json without any database call. So this code works although the resolver for "books" is also being tr

[2020-06-08 02:11] Diluka opened #279 "what about the node interface and global id"
for the client cache. the id shall be unique in the endpoint.

it can't be `1`, `2`. it needs to be `Todo:1`, `Todo:2` or in base64 form `VG9kbzox` or `VG9kbzoy`.

`graphql-relay` has already implemented it https://github.com/graphql/graphql-relay-js#object-identification and `nestjs-query` is using this lib

[2020-06-08 07:08] johannesschobel commented on #171
wooooooooooooha.. that is very (!) nice.. love it.. i will try to implement it in my application during the following week..

[2020-06-08 07:53] zerox12311 opened #281 "[BUG] Paging (last, before) will return wrong value"
In my test case, I have 10 rows data in my database.
With default **first:10** parameter
RETURN:
[code]
---

And I use **first:3** parameter
RETURN:
[code]
---

And use (first, after) parameter, it worked fine!
(first: 3, after:"YXJyYXljb25uZWN0aW9uOjI=")
// first:3, after: id 3
RETURN:
[code]

---

But this time, I use (last, before)
(last:2, before:"YXJyYXljb25uZWN0aW9uOjM=")
// last:2, before:

[2020-06-11 02:08] Diluka commented on #43
@doug-martin Is there any plan about `offset` and `totalCount` in pagination?

[2020-06-11 02:31] doug-martin commented on #43
@Diluka I'm currently working on a feature that will allow you to specify the paging strategy, either `cursor` or `limitOffset`.

When using `cursor` (the default value) everything will operate the same way it does today with connections.  If you set it to `limitOffset` your queries and relations will return an array and when paging you will be able to use `limit` and `offset`.

I will probably ev

[2020-06-11 02:38] Diluka commented on #43
@doug-martin no matter the strategy is. it needs to be connection too. now I am using this lib https://www.npmjs.com/package/nest-graphql-utils  to do both cursor-based and page-based pagination

[2020-06-11 14:34] bestickley commented on #223
@doug-martin, would it be possible to update the [FilterBuilder ](https://github.com/doug-martin/nestjs-query/blob/master/packages/core/src/helpers/filter.builder.ts) to allow for something like this:
`{ user: { role { is: "Admin" } }`?

[2020-06-12 20:29] doug-martin commented on #277
@aylabyuk I'll need a little more information, could you please share your entity and dto definition? Or better yet a small repo to help reproduce the issue, so I can be sure I have the full context.

[2020-06-12 20:34] doug-martin commented on #251
Hi Everyone. I've done an initial implementation of this which will allow you to bypass the connection implementation entirely in `v0.13.0`

In short I added a new `pagingStrategy` option which you can now set to `OFFSET` so you can still query/sort/page but without the overhead of relay connections, that in addition to `defaultResultSize` option you should be able to ignore paging entirely.

Chec

[2020-06-12 20:35] doug-martin commented on #251
I hope to add a `NONE` `pagingStrategy` in the future but that turned out to be a little more invasive than this change.

[2020-06-12 21:04] doug-martin commented on #207
@kodeine I recently added subscription support using the graphql-subscriptions library. I know its not the library you linked to but it looks like it will do the same thing using subscriptions.

[2020-06-12 22:16] doug-martin commented on #281
Fixed under `v0.13.1`. Thank you for the detailed example!

[2020-06-12 22:16] #281 closed

[2020-06-13 17:36] ridyio commented on #171
@doug-martin Thanks a lot, It is a very nice feature I didn't looked deeply into API yet but I will stay awake tonight doing so😜
I think this feature is not available now but count subscriptions could be a nice feature to have (mind blowing if filtered too🙈), I understand filtered might not even be possible. I remember rethinkDB doing same job on database level and it was great but as there was no

[2020-06-14 03:46] doug-martin commented on #224
Hi @Diluka thank you for the bug report! This has been fixed and release under `v0.13.2`

[2020-06-14 03:46] #224 closed

[2020-06-14 17:02] kodeine commented on #207
Awesome, thank you!

[2020-06-15 03:57] #207 closed

[2020-06-15 04:57] davidsoderberg opened #296 "Connection load fails"
When I try this query
[code]
And I get:
[code]
this is how my module config looks like:
[code]
What have I done wrong?

[2020-06-15 05:00] aylabyuk commented on #277
Thanks for responding. Here is a small repo related to my question. [link](https://github.com/aylabyuk/nestjs-query-books-example/blob/master/src/author/author.resolver.ts)

[2020-06-15 05:11] davidsoderberg commented on #296
I figured out what it is, this framework supports
`@ManyToMany(() => Category, 'posts')`
but not:
`@ManyToMany('Category', 'posts')`
For typeorm, both of the are supported by typeorm so maybe this framework should to?

[2020-06-16 04:21] Diluka opened #299 "FilterableField with scalar type from graphql-iso-date don't support"
https://www.npmjs.com/package/graphql-iso-date

Unable to create filter comparison for "Date".

[2020-06-16 04:34] doug-martin commented on #299
I haven't tried it, but is this different from `GraphQLISODateTime` provided by nestjs/graphql?

At a cursory glance It looks like this scalar will supports date formatting `yyyy-MM-dd` where the nestjs/graphql will do the full ISO date time format, is that correct?

[2020-06-16 04:35] doug-martin commented on #277
I'll try to look at this over the next week, thank you for the repo!

[2020-06-16 05:59] Diluka commented on #299
I use this lib to introduce `YYYY-MM-DD` format to avoid timezone problems

[2020-06-18 14:25] johannesschobel commented on #224
Dear @doug-martin , i just stumbled upon the same issue that @Diluka described. And **once again** i am completely surprised by your support! That is so awesome! :+1:

[2020-06-18 23:07] doug-martin commented on #251
@rglepper @zerox12311 A new version (`v0.14.0`) has been published that added a new `PagingStrategies.NONE` option to turn off paging all together.

Have a great weekend!

[2020-06-18 23:07] #251 closed

[2020-06-19 02:38] doug-martin commented on #296
@davidsoderberg can you provide an example of your DTO/Entity so I can see how you set up the connection.

[2020-06-19 02:48] doug-martin commented on #299
@Diluka fix published! `v0.14.1`

[2020-06-19 02:48] #299 closed

[2020-06-19 03:09] doug-martin commented on #296
@davidsoderberg this is because the relation resolver does not check if the relation is defined and I am hesitant to do since the value could be an empty array, promise etc depending on the ORM and how the entity is defined.

However, you can override the `queryBooks` method to add your custom logic.

**NOTE** The `queryBooks` method will be called for both query (`authors`) and findById (`author`

[2020-06-19 17:22] doug-martin commented on #296
Sorry commented on wrong issue :(

[2020-06-19 17:22] doug-martin commented on #277
@aylabyuk this is because the relation resolver does not check if the relation is defined and I am hesitant to do since the value could be an empty array, promise etc depending on the ORM and how the entity is defined.

However, you can override the `queryBooks` method to add your custom logic.

**NOTE** The `queryBooks` method will be called for both query (`authors`) and findById (`author`) endp

[2020-06-19 17:22] #277 closed

[2020-06-19 17:26] davidsoderberg commented on #296
Ok, this is my simplest example:
Post.ts:
[code]
Category.ts:
[code]

And the connection looks like this:
`@Connection('categories', () => Category)`

Please tell me if you need more?

[2020-06-19 17:49] davidsoderberg commented on #296
I can try to fix it in a pr before monday, if you like?

[2020-06-19 18:33] doug-martin commented on #296
@davidsoderberg I have figure out the problem, just working on tests

[2020-06-19 19:34] doug-martin commented on #296
@davidsoderberg just published at fix to `v0.14.2`!

[2020-06-19 19:34] #296 closed

[2020-06-20 09:57] innomal opened #310 "module has no exported member 'InjectPubSub'"
Hello,
I was trying to implement subscription in latest version of library but i found at least one error in documentation:
This is my module:
[code]
Service:
[code]
Resolver:
[code]
Running this throws error:
[code]
If i remove the pubsub injection it compiles but throws follwing error when i want to subscribe from graphql Playground.
`Unable to subscribe to createdUser`
Not sure later error is d

[2020-06-20 20:21] Gonozal opened #311 "Suggestion: Improve feedback for misuse of "@Resolver" Decorator (relations always null)"
First of: Awesome Library.

Issue: When Using the `@Resolver()` Decorator from `@nestjs/graphql` without a `typeFunc` argument, the resolver works (good I guess?). However, it won't resolve any relations and always return `null` instead.

Example of the type of misuse:

[code]

All of the queries and mutations generated by `CRUDResolver` work (`getUserGroups` etc.). However, trying to access `user

[2020-06-20 22:26] doug-martin commented on #311
@Gonozal very good point! I've actually done this before too, the problem is `Resolver` comes from `@nestjs/graphql` so there is not a way for `@nestjs-query` to identify this kind of mistake.

I think having this issue here and calling it out in the docs. would help.

I'll update the docs with a note about this.

[2020-06-20 22:29] doug-martin commented on #310
@innomal thank you for the bug report! I have published a fix under `v0.14.3`.

Thanks again!

[2020-06-20 22:34] doug-martin commented on #310
@innomal you will also need to import the `NestjsQueryGraphQLModule` inorder to get the pubsub provider.

[code]

I'll work on making this clearer in the docs, and update the graphql module to not require imports or resolvers when just using it for the pub sub feature.

[2020-06-21 15:25] innomal commented on #310
Thanks a lot! I just tested and subscription feature works like a charm.

[2020-06-21 15:46] #310 closed

[2020-06-21 15:51] innomal opened #317 "Subscription filter"
I have been trying to apply filters to subscription but as soon as any sort of filter as applied subscription doesn't receives any update, I have attached two corresponding mutation and subscription i use to check filter:
[code]
[code]
With filter id filter being removed from subscription it receives updates. But on all records.

Thanks!

[2020-06-21 16:19] doug-martin commented on #317
What if you change to `id: { eq: 1 }` ?  The eq comparison will be strict eq, I think in this case you are using a string for the ID but it is actually a number.

[2020-06-21 17:37] innomal commented on #317
Thanks for response,
I tried that too when i was testing but had no luck. I also tried with other filters (in, gt etc).
Also tried with filtering other fields but couldn't get any response as soon as any sort of filter was applied.

[2020-06-21 23:03] doug-martin commented on #317
@innomal I'm curious is your `id` field using the `ID` graphql type?

In local testing it looks like that always serializes to a string, which causes this to break because of the strict equal. Once I changed the `id` type to `Int` the subscription filtered properly.

[2020-06-22 02:32] innomal commented on #317
Yes it is set to `ID`, I have attached dto class for reference.
[code]
I can confirm the issue i am experiencing seems to be about `ID` field. I could get a subscription from a string field filter correctly but not yet with id.
Also just an idea but maybe it could be useful to be possible to filter based on fields. Like only if `lastName` & `firstName` was changed emit an update.

[2020-06-22 02:47] aylabyuk commented on #277
Thanks @doug-martin, really appreciate this.

[2020-06-23 15:02] doug-martin commented on #43
@izundo-viennv I've added the ability to enable `totalCount` on cursor based connections in `v0.15.0`!

Docs:
* https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#paging-with-total-count
* https://doug-martin.github.io/nestjs-query/docs/graphql/relations#total-count

[2020-06-23 16:09] josheleonard opened #326 "[Question] How to use Request to modify createOne mutation input"
I have a demo app with Tasks (Todos) that are owned by a user.
is there a declarative way to replace a DTO field value with a variable attached to the Request (like the user id)?

A persist option is is used for this in nestjsx/crud's decorator: https://github.com/nestjsx/crud/wiki/Controllers#request-authentication

Is there a similar option in this library?

[2020-06-24 02:13] Diluka commented on #43
@doug-martin actually, you need add `totalCount` to page based connections.

we use `offset`, `limit` and `totalCount` to calculate pagination toolbar's page index buttons.

but cursor based connections only previous and next buttons, `totalCount` is useless for it.

[2020-06-24 04:39] doug-martin commented on #43
@Diluka you are adding on to a previous issue without context. I have seen two comments that appear to be slightly contradictory

[code]

and

[code]

Looking into the first comment the `offset` parameter does not apply to the connection spec https://relay.dev/graphql/connections.htm, the `offset` parameter seems to be a shortcut to bypass connections.

With that said I'm not completely opposed to

[2020-06-24 05:55] Diluka commented on #43
connection is compatible with both cursor and page based pagination.
https://graphql.org/learn/pagination

[2020-06-24 06:06] Diluka opened #327 "[FR]make connection compatible with cursor and page based pagination"
the best practice describe https://graphql.org/learn/pagination/

- using `first` and `offset` for page based pagination
- using `first` and `after` for cursor based top-down pagination
- using `last` and `before` for cursor based bottom-up pagination

returning results share the same connection model

#43

[2020-06-24 10:40] johannesschobel opened #330 "[Feature]: Decorators / Guards for Relations"
Dear @doug-martin ,

currently, i am adding guards to my application and it works like charm using your library.

However, i stumbled upon an issue:
I have `Users` and `Groups` in my application. Both are "linked" (i.e., there are `relations` set up in the corresponding `Resolvers`). However, i would like that only users with a respective `Role` can query the relations (or even add / update / dele

[2020-06-30 16:08] sebargarcia opened #345 "[Feature] Add support for aggregation queries"
First of all congratulations on an excellent library! It´s made life much easier!
It would be great if we could have aggregate queries like the Hasura GraphQL engine has. I mean aggregate operators like **count, sum, avg, max, min**
For reference documentation please see https://hasura.io/docs/1.0/graphql/manual/queries/aggregation-queries.html

Sorry for my English and thank you for the amazing l

[2020-07-04 12:20] innomal opened #355 "[Enhancement] count query"
Hello Martin,
I can see there has been some discussion about `totalCount` in queries and you encouraged on creating new issue and explaining use case, so here it goes :)
Default cursor mode is good for unlimited pagination but in dashboard type of application most of tables work on offset based and they require `count` to paginate data correctly.
As you said count query can be expensive so running

[2020-07-04 19:34] renehauck opened #356 "Number of SQL queries"
Hi,
I have created a simple Senario, where a todo item is linked to a user. So I have a table TodoItem and a table User.
If I now execute a GQL-Query `todoItems`, i.e. query a list of todoItems, the module creates the following SQL-Queries:

[code]
Is it really necessary to execute so many SQL queries here? Is it not an option to put the query into one SQL-Query (not sure if this is possible, but

[2020-07-05 02:32] doug-martin commented on #356
@renehauck yep that could be more efficient :) Currently the findRelations uses the same logic as `queryRelation` which is difficult to make more efficient. Given that this is just looking up by id I think `findRelation` could be condensed into a single query, I'll look at this soon.

Thank you for the issue!

[2020-07-05 02:35] doug-martin commented on #355
@innomal good point lets track this under #345 which I thin will be more flexible. Thank your for submitting an issue!

[2020-07-05 02:35] #355 closed

[2020-07-05 02:38] doug-martin commented on #223
@rshriyan @bestickley  this enhancement has been published under `v0.16.0`.

You can read more about this feature in the following docs

* https://doug-martin.github.io/nestjs-query/docs/graphql/relations
* https://doug-martin.github.io/nestjs-query/docs/migration-guides/v0.15.x-to-v0.16.x

Thank you for the enhancement request!

[2020-07-05 02:38] #223 closed

[2020-07-06 05:49] doug-martin commented on #356
@renehauck after looking at this more, I think it is doable however it will require quite a bit of work to support typeorm and sequelize.

For example looking at https://typeorm.io/#/relational-query-builder and exploring the class manually you can load a relation for a single entity instance easily, it becomes more difficult once you try to load a single relation for multiple entities.

The reaso

[2020-07-06 10:26] renehauck commented on #356
First of all many thanks for the solution search. I already thought that it would not be such an easy change. :smiley:

[2020-07-07 15:35] GustavoLofrano opened #363 "[ERROR] v0.16.0 - relation query service"
![image](https://user-images.githubusercontent.com/36713355/86805131-fabe1f00-c04d-11ea-84e3-15a54c525f2b.png)

Remove "/src" from import { Filter } from '@nestjs-query/core/src';

node_modules/@nestjs-query/query-typeorm/dist/src/services/relation-query.service.d.ts

I remove it manually, the code will work

[2020-07-07 16:27] doug-martin commented on #363
Thank you for submitting, I'm unsure how the tests passed for this. I'll look into that separately. I'll push up a patched version asap.

[2020-07-07 16:40] doug-martin commented on #363
@GustavoLofrano fix published.

[2020-07-07 16:40] #363 closed

[2020-07-08 06:14] zerox12311 opened #365 "[Feature Request] Add query depth limit"
Sometime I hope the query depth not too much.
I think can add a query depth limit in each resolvers?

[2020-07-13 11:21] amirtgm opened #373 "[Question] Customizing input data based on guards"
Hi, first thanks for amazing project.
i have a question for create and update mutation. is there any way that i can pass the userId from the auth guard? i don't want to get it from the client for security reasons and want to apply it from the jwt access token.
i searched through the docs but didn't found any solutions.

if there could be a decorator on DTO like default value, and i can get access

[2020-07-13 11:32] amirtgm commented on #373
sorry for duplicate question
i'm closing this issue as it already asked here (Duplicate of #326)

[2020-07-13 11:32] #373 closed

[2020-07-14 16:02] petyunchik opened #376 "Assembler's convertAsyncToEntity is not used"
There is `convertAsyncToEntity` method declared in Assembler class, but it's not in use anywhere. Would be very useful to make it work similar way as `convertAsyncToDTO` to perform async transformations.

And thank you for the library!

[2020-07-15 15:23] GustavoLofrano opened #379 "[Bug] Paging Cursor default"
If I don't put a pagination filter, by default it brings the first 10.
If the default is 10, why am I obliged to inform "first" when taking the lastCursor in "first"?

![image](https://user-images.githubusercontent.com/36713355/87563261-65e2a380-c695-11ea-92f7-64e434e74610.png)

![image](https://user-images.githubusercontent.com/36713355/87563383-86aaf900-c695-11ea-9632-c94a3124759c.png)

![image]

[2020-07-15 21:19] GustavoLofrano opened #380 "[Bug] TypeORM hooks not being triggered with nestjs-query"
![image](https://user-images.githubusercontent.com/36713355/87597052-7f9cde80-c6c7-11ea-8148-7dd9f6c32d3c.png)

In UserEntity:

![image](https://user-images.githubusercontent.com/36713355/87596951-55e3b780-c6c7-11ea-9af2-9c374167d91d.png)

Don't hash the password in table:

![image](https://user-images.githubusercontent.com/36713355/87597006-6c8a0e80-c6c7-11ea-8655-85366cb3124b.png)

without nestj

[2020-07-16 02:00] doug-martin commented on #345
@sebargarcia I just added aggregation support in `v0.17.0`

Check out the docs [here](https://doug-martin.github.io/nestjs-query/docs/graphql/aggregations). Open another issue if you run into any issues!

Thanks for the feature request!

[2020-07-16 02:00] #345 closed

[2020-07-16 02:02] doug-martin commented on #376
@petyunchik I'm not sure I understand the comment. You can use it if you inject the assembler.

[2020-07-16 02:08] doug-martin commented on #380
@GustavoLofrano I just tested this locally and it worked fine. If you can provide a repo I can try and help to diagnose the issue.

[2020-07-16 02:22] doug-martin commented on #379
@GustavoLofrano I just want to be sure I understand. Is this a feature request to no require the `first` argument because there is a default?

[2020-07-16 11:54] sebargarcia commented on #345
Wowww!!!! This is really cool! Thank you! 🍻🍻👏👏👏

[2020-07-16 15:27] GustavoLofrano commented on #379
@doug-martin
I think you can consider it.
I'll try to explain.
I realized that the default value for the query is 10 results.
If it has a standard result value, because I am obliged to pass the "fisrt" of filter from the second page.
you could create some configuration to inform the standard quantity we want, so we don't need to pass in every query for paging.
I didn't find this in the Documentati

[2020-07-16 16:06] GustavoLofrano commented on #380
I created the repository

https://github.com/GustavoLofrano/school-app.graphql.git

[2020-07-16 16:12] GustavoLofrano commented on #380
I think I found the problem.
is when using a class UserService, if commenting the code, will work.
I'm creating the Service class, in case I need it in the future, I'm standardizing.

it works
[code]

does not work
[code]

[2020-07-16 16:20] doug-martin commented on #380
Thanks! I'll take a look later today.

[2020-07-17 03:30] doug-martin commented on #365
@zerox12311 For the most part `nestjs-query` already supported this, but I did add the ability to specify complexity on relations in `v0.17.1`.

Using field and relation complexity you should be able to achieve this. Check out the [nest docs on complexity](https://docs.nestjs.com/graphql/complexity)

[2020-07-17 03:30] #365 closed

[2020-07-17 04:17] #380 closed

[2020-07-17 04:26] doug-martin commented on #380
@GustavoLofrano thanks again for the bug report and repo. I was able to reproduce and fix! If you update to version `v0.17.2` it should work.

Let me know if you run into any additional issues.

[2020-07-17 04:47] GustavoLofrano commented on #380
@doug-martin. I'll use your package a lot. I'm starting a big project and the graphql base will be your package. The productivity gain that I will have is very good. Whenever I find something, I will try to help.

[2020-07-17 09:03] innomal commented on #345
@doug-martin Very useful update thanks, Just one question: It wasn't clear why a separate type was used for Aggregate filter when structure seems to be same as normal query filter.
[code]

[code]

The point is maybe same query parameter could be used for both when combined.

[2020-07-17 12:16] sebargarcia commented on #345
I think there are not the same, if you see they returns different array types objects, the first one returns not aggregated data and the second one the aggregated data, so they have to be different schema types in graphql

[2020-07-17 15:46] doug-martin commented on #317
@innomal this should be fixed in `v0.17.3`. Thanks again!

[2020-07-17 15:46] #317 closed

[2020-07-17 19:21] doug-martin commented on #345
@innomal in your example they are the same bout they could be different, the agggregation filter does not currently support querying by relations.

The other reason (and main reason) is that in the last couple of feature releases they have been breaking changes because I have had to split generated filters and types between the different operations. By splitting them I can add feature enhancements

[2020-07-18 07:30] innomal commented on #345
@doug-martin I understand, Thanks for the explanation.

[2020-07-18 15:51] GustavoLofrano commented on #356
@doug-martin

I have the same problem, when making a query.
In the documentation it says that "Relation" uses the dataloader, but from what you see it doesn't work.
The company query in my example, when using dataloader should have only one query in the database.

[code]
Relation in DTO
[code]
Querys
[code]

[2020-07-19 23:19] sebargarcia commented on #356
You can see a discussion about this in discord:
https://discordapp.com/channels/520622812742811698/626341204442742784/728413757641981974

[2020-07-20 07:53] olehs opened #394 "__typename in aggregate queries"
Hi.
apollo-client adds `__typename` to every query resulting in queries like this
[code]
This leads to wrapping this extra field in aggregate function in final SQL, created by nestjs-query
[code]
I guess `__typename` needs special processing for this case, doesn't it?

[2020-07-20 13:51] mmChuckie commented on #326
What's the status on this issue? Got the same problem as I have an application that relies on a lot of user input made by authenticated users. :-)

[2020-07-20 16:27] doug-martin commented on #326
I'll be releasing this in the next release.

I'm currently exploring an option to allow specifying different "hooks" that will run when the `create` or `update` hooks are run.

For example

[code]

This is still in POC stage but I hope to have a release by the end of the week.

[2020-07-21 20:07] ikottman opened #397 "Add ability to limit filter comparisons"
Currently all [possible comparisons](https://doug-martin.github.io/nestjs-query/docs/concepts/queries#common-comparisons) are always included when filtering. I would like to configure what comparisons are allowed for a filterable field/relation. This would simplify my API to only include a subset of comparisons I want to support.

Something like this:
[code]

to restrict filtering name to only `eq

[2020-07-21 20:09] ikottman opened #398 "Make a filter required"
I'd like a way to configure a filterable field/relation to be required. This would let my schema enforce a filter is specified with a value when querying.

Something like:
[code]

[2020-07-21 20:16] ikottman opened #399 "Abstract object types don't inlcude filterable relations"
Filterable relations are lost when extending an abstract object type (added in https://github.com/doug-martin/nestjs-query/issues/82).

Something similar to what was done for [FilterableFields](https://github.com/doug-martin/nestjs-query/commit/5151ceb08e05a435be4f367f6f6f03568bc72a27#diff-5045e0d24dc0ae16220a82ec079b41f0) needs to be done for [relations](https://github.com/doug-martin/nestjs-quer

[2020-07-22 06:30] kodeine opened #400 "Error: Schema must contain uniquely named types but contains multiple types named "ProjectDeleteResponse"."
Hello,
So i am getting the following error when i use the custom resolver and service from documentation. As soon i comment `  providers: [ProjectService, ProjectResolver],` in module, everything starts working.

[code]

[code]

[code]

[code]

Any idea's?

[2020-07-22 15:38] petyunchik commented on #376
@doug-martin Sorry, I mean that `AssemblerQueryService` is not calling Assembler's `convertAsyncToEntity` method anywhere. Even if some async logic will be added to `convertAsyncToEntity` it wouldn't be executed by default `AssemblerQueryService`.

[2020-07-23 05:09] doug-martin commented on #400
@kodeine I think is this because you are providing two versions of the `ProjectResolver`. Because you are providing a custom CRUDResolver you dont need to use the `NestjsQueryGraphQLModule` to auto generate the `ProjectResolver`

I think the easiest fix for this would be to change your module

[code]
I have not ran this since I dont have the complete source but I think this should solve the immedi

[2020-07-23 18:09] doug-martin commented on #326
@josheleonard @mmChuckie I just released `v0.17.4` which add the hooks described above.

You can check out the docs [here](https://doug-martin.github.io/nestjs-query/docs/graphql/hooks)
The [`typeorm` example](https://github.com/doug-martin/nestjs-query/tree/master/examples/typeorm/src) has been updated to use the new decorators also.

Thanks again!

[2020-07-23 18:09] #326 closed

[2020-07-23 19:27] mmChuckie opened #404 "Unable to inject service into custom CRUD resolver after updating to latest version of @nestjs-query/query-graphql."
First of all, thanks for providing this amazing package!

I have a custom UserResolver that injects a QueryService:
[code]
... which after updating to @nestjs-query/query-graphql@0.17.4 gives me this error:
`Class 'UserResolver' incorrectly extends base class 'CRUDResolver<UserDTO, DeepPartial<UserDTO>, DeepPartial<UserDTO>, ReadResolverOpts<UserDTO>>'.
  Types of property 'service' are incompatib

[2020-07-23 19:44] dylanstanfield opened #405 "Add ability to easily apply sorting"
Looking for something that works similarly to `applyFilter` for sorting.

[2020-07-23 21:03] doug-martin commented on #404
What versions are you using for the other packages?

[2020-07-24 02:08] doug-martin commented on #394
Fixed in `v0.17.5`

Thank you for reporting!

[2020-07-24 02:08] #394 closed

[2020-07-24 05:05] #399 closed

[2020-07-24 05:08] doug-martin commented on #399
@ikottman this has been fixed in `@nestjs-query/query-graphl@v0.17.6`

Thanks!

[2020-07-26 10:12] mmChuckie commented on #404
Fixed after updating to latest version of core package. Thanks for the help.

[2020-07-26 20:00] #404 closed

[2020-07-27 04:18] doug-martin commented on #405
@dylanstanfield I just published `v0.17.7` that includes an `applySort` method. As part of this release I also added `applyPaging` and `applyQuery`. I also added documentation around the utility methods you can check them out [here](https://doug-martin.github.io/nestjs-query/docs/utilities/query-helpers)

Thank you for submitting!

[2020-07-27 04:18] #405 closed

[2020-07-28 04:28] doug-martin commented on #397
@ikottman this feature is now available in `v0.17.8`

You can read more about it [here](https://doug-martin.github.io/nestjs-query/docs/graphql/dtos#filterablefield)

Thanks for the feature request!

[2020-07-28 04:28] #397 closed

[2020-07-29 04:22] doug-martin commented on #398
@ikottman this is release under `v0.17.9`. You can checkout the docs [here](https://doug-martin.github.io/nestjs-query/docs/graphql/dtos)

Thank you for the feature request!

[2020-07-29 04:22] #398 closed

[2020-07-29 04:22] #400 closed

[2020-07-29 10:38] renehauck opened #420 "Update to a relation, does not update the relation"
Hi,

I just saw that an update to a relation does not traditionally update the relation, but simply adds another entry.

For example:

I copied the example "basic" from you, but extended "todo-item-update.dto.ts" and "todo-item-input.dto.ts" with the field "tags". Furthermore, I have added the option "cascade" to "todo-item.entity.ts" at tags.

`todo-item-input.dto.ts`
[code]
`todo-item-update.dto

[2020-07-29 18:23] doug-martin commented on #420
@renehauck it looks like your examples are bypassing nestjs-query to add relations, instead relying on typeorm. I could be wrong but I suspect if you included an `id` on the relation typeorm would try to find an existing record but I could be wrong.

Because of this and cascade can lead to oddities like this nestjs-query exposes two endpoints to mutate relations. This example is a many to many so

[2020-07-30 06:30] renehauck commented on #420
@doug-martin  You were absolutely right, if I give an Id for each element, the update works fine. I think you can see that I come from the NoSQL corner. :smile:
It is also logical that the id must be included.

Thanks for the help!

[2020-07-30 06:30] #420 closed

[2020-07-30 12:27] sebargarcia commented on #356
Maybe we can see how this library is doing it https://gitlab.com/Mando75/typeorm-graphql-loader/

[2020-08-02 14:15] heavenkiller2018 commented on #43
why  does 'Paging with Total Count '   ONLY applly to CURSOR connections?

we use offset, limit and totalCount to calculate pagination toolbar's page index buttons.

but cursor based connections only previous and next buttons, totalCount is useless for it.

[2020-08-02 14:18] johannesschobel commented on #43
@heavenkiller2018 no, it is not `useless`. Consider, for example, the use-case that you would like to write "id 1 - 10 from 54" above the table. Therefore, you would need the `totalCount` to get this information

[2020-08-04 04:05] doug-martin commented on #356
I'm working on this now, I hope to have a fix out by the end of the week.

[2020-08-04 06:02] renehauck commented on #356
really awesome, thank you!

[2020-08-06 01:41] GustavoLofrano commented on #356
Cool, congratulations on your great work. @doug-martin.
I found a temporary solution, using the 'nestjs-graphql-dataloader' package and removing the Relation Decorator,
It is not 100%, but it reduces the number of queries executed.

[2020-08-08 09:58] boxcc opened #445 "[Question]About Authorization"
How to deal with authorization issues in nestjs-query?

E.g:  [https://graphql.org/learn/authorization/](https://graphql.org/learn/authorization/)

I have completed the jwt verification, but I don’t know how to find personal data in ReadOne or ReadMany. I hope to give me some pointers. Thank you very much.

I think we can use [hooks](https://doug-martin.github.io/nestjs-query/docs/graphql/hooks) t

[2020-08-08 18:04] doug-martin commented on #445
@boxcc you can use [guards](https://docs.nestjs.com/guards) to secure your endpoints. Take a look at https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#guards-pipes-filters-and-interceptors for a quick example.

[2020-08-09 04:03] boxcc commented on #445
@doug-martin yes, I have completed the setting of guards, but I don't know how to filter out the data owned by users

[2020-08-11 02:01] doug-martin commented on #356
Hi All,

I just published `v0.18.0` which addresses this for the `typeorm` integration, unfortunately I couldn't find a clean way to do this with `sequelize` and I didnt want to hold up the release for that.

The relation queries now use a subquery that performs a union to get the distinct datasets.

Let me know if you find any issues!

[2020-08-11 02:01] #356 closed

[2020-08-11 04:02] doug-martin commented on #445
@boxcc if you could provide a more complete example/description I may be able to point you in the right direction.

Are you trying to set authorization on fields or entire objects?
Can you alter the query to only return the information relevant to the consumer?
Can you use [extensions](https://docs.nestjs.com/graphql/extensions) to solve this?

Your question may be better suited for the [`@nestjs/

[2020-08-11 08:29] renehauck commented on #356
great, thank you very much!

[2020-08-12 07:25] jlarmstrongiv commented on #445
@doug-martin Funny enough, I wrote a draft of a similar question but never posted it.

I’m a bit confused figuring out how to use authentication and authorization with nestjs-query.

I’m piecing together relevant pieces of the current documentation, but I’m not sure what the recommended way to achieve my goals.  Am I missing anything?

## Current documentation

- **[DTO filter](https://doug-martin

[2020-08-15 03:42] heavenkiller2018 opened #460 "Aggregate error when one field is enum type"
when one field usch as "rate" is enum type in entity definition of TypeORM

[code]

when I query aggregation with graphql:
[code]

the following error is return:
[code]

"avg", "min","max" have the same problem

[2020-08-15 18:12] boxcc commented on #445
@doug-martin If I use nestjs/graphql, I will write code in this way:

roles.guard
[code]

user.decorator
[code]

resolver
[code]

service
[code]

The problem I encountered with nest-query is that I don’t know how to filter out the member articles in the example.

[2020-08-16 20:36] yeomann opened #462 "Apollo Studio integeration"
Hi, thanks for the amazing library,

Is there any easy solution from the library for integrating with Apollo Studio https://studio.apollographql.com
![image](https://user-images.githubusercontent.com/5970751/90343466-3ff44a00-e019-11ea-872f-172564d5181f.png)

[2020-08-17 00:06] doug-martin commented on #445
Hi All,

Quick update, now that I have had the time to dive into this problem, I'm working on some changes to make this easier. It will require some passive changes to the query-service to allow setting of filters based on authorization.

I'm playing with a couple of options to allow for this and I'm not sure which way will provide the cleanest API, but I think I'll add either an `@Auth` decorator

[2020-08-17 00:10] doug-martin commented on #330
@johannesschobel lets merge this with #445. You can read my update there but I think it will address this issue as well.

[2020-08-17 00:10] #330 closed

[2020-08-17 01:26] jlarmstrongiv commented on #445
@doug-martin Wow, glad to hear the update 🎉 thanks for being awesome, can’t wait to give it a try

[2020-08-18 14:55] boxcc commented on #445
I am trying to use  [directives ](https://docs.nestjs.com/graphql/directives) to solve

### Code:
auth.directive.ts
[code]

module
[code]

This method can achieve filtering membership data, but I found a problem Directive runs before the role.guard code

[2020-08-18 15:51] doug-martin commented on #445
@boxcc that will work for some cases, but when finding by id, updating by id, or deleing by id. Any user could fetch the info. My changes will address that.

[2020-08-22 04:05] marian2js opened #469 "MongoDB is not supported by query-typeorm"
Hi, I love the idea of this package and I'd like to use it on my projects. I use MongoDB, which is supported by typeorm, but  since query-typeorm makes use of QueryBuilder and other SQL specific calls, it breaks with mongo.

There are plans to support MongoDB?

I had a quick look inside query-typeorm and I think it'd be easier to create a new package like query-typeorm-mongo.
Alternatively, the pa

[2020-08-22 15:03] draylegend opened #471 "Prisma integration"
I'm searching for a package that can handle all the CRUD hassle with [prisma](https://prisma.io).
Are you planning the integration of it?

[2020-08-24 04:24] marian2js commented on #469
I started the work on this, although it's still a work in progress:

https://github.com/doug-martin/nestjs-query/pull/474

[2020-08-24 06:28] wowczarczyk commented on #445
Are you planning to implement field level authorization as well?

[2020-08-24 17:59] doug-martin commented on #445
@wowczarczyk not as part of the changes I'm currently making. The changes I'm making currently are already pretty invasive, and I dont want to expand the scope of the current feature beyond authorization for dtos and relations.

[2020-08-27 21:35] yacovg opened #485 "Error when putting Field decorator on object"
I'm getting error when using @Field() decorator with other entities.
It's working fine with plain graphql (not using this library)

@ObjectType()
@Entity()
export class CustomerModel {
  @Field()
  @PrimaryGeneratedColumn('uuid')
  id: string;

  @FilterableField()
  @Column({ length: 500, nullable: false })
  name: string;

  @Field()
  @Column('text', { nullable: false })
  email: string;

  @Fi

[2020-08-28 20:32] sebargarcia commented on #485
the decorator is **@Filed** with an F uppercase

[2020-08-29 21:59] doug-martin commented on #485
@yacovg take a look at https://doug-martin.github.io/nestjs-query/docs/persistence/services#relations you should remove the `@Field` decorator on the `invoices` field and add a the `Connection` decorator. You can read more about relations in `nestjs-query` [here](https://doug-martin.github.io/nestjs-query/docs/graphql/relations)

[2020-08-29 21:59] #485 closed

[2020-08-30 16:20] KoenLav opened #489 "Export GraphQL SDL without running the entire application"
We would like to export the GraphQL SDL to a file using a command. Currently we run the application and use setTimeout to kill it after x seconds (to allow the application to startup and export the schema), but this is not ideal.

We've already taken a look at: https://docs.nestjs.com/graphql/generating-sdl#generating-sdl

Could someone give us some pointers as to whether and how we could get the

[2020-08-30 17:12] marian2js commented on #489
I guess you are generating your schema with the autoSchemaFile option. If so, you can solve this with a new [standalone application](https://docs.nestjs.com/standalone-applications).

The new standalone app would only need a main file which should look like this:

[code]

[2020-08-30 17:51] KoenLav commented on #489
That worked, thanks!

Changed our project structure to monorepo, added a standalone app and simply imported the AppModule and it worked :)

[2020-08-30 17:51] #489 closed

[2020-08-30 21:11] doug-martin commented on #445
Hi All,

I just issues the PR to add authorization for queries and mutations. You can read the unpublished docs [here](https://github.com/doug-martin/nestjs-query/blob/auth/documentation/docs/graphql/authorization.mdx)

Its a pretty big change because I had to change the query service to allow additional filtering for certain methods. I'll update once I publish!

[2020-08-31 10:28] yeomann opened #493 "[Bug] new release v0.18.1 broke relationships"
Hi,

Thanks for the great library, we using Nx based multiple apps that extends some entity from core module in multiple Nestjs projects.

we had defined the relationships this way for example in user entity
[code]
After update to v0.18.1 graphql was broken on accessing the relationships and give the entitymetadata error.
![image](https://user-images.githubusercontent.com/5970751/91710429-e9484d80

[2020-08-31 18:58] jlarmstrongiv commented on #445
Went to check out the changes and spin up a project today, here’s the [updated link](https://github.com/doug-martin/nestjs-query/blob/master/documentation/docs/graphql/authorization.mdx) 😄

[2020-09-01 02:50] doug-martin commented on #445
I just published the latest version `v0.19.0`!

You can check out the published docs [here](https://doug-martin.github.io/nestjs-query/docs/graphql/authorization)

[2020-09-01 12:17] jlarmstrongiv commented on #445
@doug-martin the docs and example are quite helpful!  Especially the custom queries like `completedTodoItems`.  It would be nice to add a signup mutation and bcrypt to the example, as these are common anytime someone implements authentication.  Personally, I’m experimenting with authorizers that use roles too.  Very cool so far.

[2020-09-01 16:29] doug-martin commented on #445
@jlarmstrongiv I'm glad to hear you're finding them useful! Feel free to issue a PR to update/clarify any thing you found confusing or could use more explaination.

I tried to keep the authentication piece as generic as possible as that is separate from the Authorization piece. Plus there are so many ways to go about authorization I didnt want to push anyone down an certain path. The important pie

[2020-09-01 19:54] #445 closed

[2020-09-01 20:14] doug-martin commented on #493
@yeomann sorry about that, all my tests assumed the relationships were bi-directional. I'm working on a fix with tests to cover this use case in the future.

[2020-09-01 22:03] yeomann commented on #493
Thank you @doug-martin waiting for the fix, appreciate your effort.

[2020-09-01 22:11] wowczarczyk commented on #420
@doug-martin  Are there any plans to support nested objects in mutations in `nestjs-query`? So I could add a TodoItem together with an array of SubTasks in one go (mutation)?

[2020-09-02 02:09] JeffSchofield commented on #493
I'm having this issue as well with uni-directional one-to-one relationships. I started working on a PR but have had only trouble getting tests to run locally.

I did a quick fix by changing line 224 in [`/packages/query-typeorm/src/query/relation-query.builder.ts`](https://github.com/doug-martin/nestjs-query/blob/master/packages/query-typeorm/src/query/relation-query.builder.ts#L224) to:

[code]

[2020-09-02 02:55] doug-martin commented on #493
Just issued a PR, @JeffSchofield you were spot on.

Sorry I didn't get this out earlier, spent quite a bit of time writing tests and making sure that they failed with the old code, and didnt break anything else :)

[2020-09-02 03:28] doug-martin commented on #493
@yeomann @JeffSchofield just published `@nestjs-query/query-typeorm` v0.19.1` which should fix this. Let me know if you still run into issues so I can address them!

Thanks for the bug report!

[2020-09-02 03:28] #493 closed

[2020-09-02 17:50] archer747 opened #505 "Error when applying defaultFilter in module"
I am getting the following error when using defaultFilter:

`nestjs-query error TS2322: Type is not assignable to type 'Filter<unknown>'.`

I have the following DTO:

[code]

And module:

[code]

I followed this example [https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#default-filter](https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#default-filter)

What am I doin

[2020-09-03 06:35] renehauck commented on #420
It may even be possible to set flags to relations that set an update/delete/create connection.
For example a "delete" will automatically delete all relations of the deleted entry. An "update" takes the whole update object into account and updates the connected relations.
I think the "create obj" is already fully considered, right?
What do you guys think?

Thanks for the work!

[2020-09-03 11:26] archer747 opened #508 "Error: guards option"
The [guards option](https://doug-martin.github.io/nestjs-query/docs/graphql/authorization) is throwing the following error:

[code]

I must add that this is a great project!

[2020-09-03 14:52] doug-martin commented on #508
@archer747 what version of each nestjs-query package do you have installed?

[2020-09-03 16:05] doug-martin commented on #505
@archer747 thank you for the bug report! I just release `v0.19.2` which should address this.

Thanks again!

[2020-09-03 16:05] #505 closed

[2020-09-03 18:15] archer747 commented on #505
Fantastic! Thank you very much for your prompt response!!

I was on `v0.18.2`.

[2020-09-03 18:19] archer747 commented on #508
I was on `v0.18.2` but have just upgraded to I was on `v0.19.2` and it seems problem solved.
I will do further tests and let you know.
Thanks a lot!

[2020-09-03 18:20] #508 closed

[2020-09-06 08:39] renehauck opened #518 "Relationships on mutations"
I am referring to this issue https://github.com/doug-martin/nestjs-query/issues/420, but I think since this is a features request and the old issue more or less a question, I wanted to start a new topic here. I hope this is ok.

It is possible to use relations to other entities in queries. Now it would be a cool thing if this would be possible for mutations too.

That means that it is possible to

[2020-09-06 14:13] sebargarcia commented on #518
I think in the first example (delete) it is the job of the database do that (ON DELETE CASCADE), for example in TypeORM in a relationship you can set ON CASCADE DELETE like this
`@ManyToOne(() => Author, (author) => author.books, {
        onDelete: 'CASCADE',
    })`

[2020-09-09 10:37] archer747 commented on #518
While we can apply CASCADE for Updates and Deletes, it does not apply to CREATE.

It will indeed be interesting to know how this might work in a one-to-many / parent-children CREATE mutation using single call.

[2020-09-09 16:38] priya1712d opened #524 "Extending an abstract class with hooks"
I am trying to run base class hooks, every time the child class is resolved.

**Base class**
[code]

**Child class**
[code]

But hook seems not to be working anymore. I am pretty sure I was able to run this few days back.
My motivation is to add hooks at one place for a column eg modified_by and then use it in multiple children classes.

[2020-09-09 18:17] #524 closed

[2020-09-09 18:23] doug-martin commented on #524
@priya1712d fix has been published under `v0.19.3`

[2020-09-09 18:23] doug-martin commented on #524
Thank you for filing a bug report!

[2020-09-10 01:40] priya1712d commented on #524
@doug-martin Thank you so much for such quick response.

[2020-09-10 10:11] renehauck commented on #518
I absolutely agree with you but for example it is also possible to specify a default sort in nestjs-query, but it would also work with Typeorm. I think nestjs-query should be the only configuration place here.
Another reason is, for example the model-generator. If you have projects where the database is not created by Typeorm, but you still want to use Typeorm, then you have the possibility to use

[2020-09-10 20:44] danielehrhardt commented on #469
For better Search Results:
Query Builder is not supported by MongoDB.

[2020-09-11 14:22] archer747 opened #526 "Nestjs can't resolve dependencies of QueryService"
Hi,

I have a RoleService:

[code]
All was working fine until I wanted to inject it in an Interceptor like this:

[code]
@Module({
    imports: [
        NestjsQueryGraphQLModule.forFeature({
          // import the NestjsQueryTypeOrmModule to register the entity with typeorm
          // and provide a QueryService
          imports: [NestjsQueryTypeOrmModule.forFeature([TodoItem])],
          //

[2020-09-11 15:24] doug-martin commented on #526
Hi @archer747

I'm not sure how you have your modules set up, but assuming its in the same module you need to register your entity with typeorm.

[code]

If its in a different module you should export it

[code]

Then import it

[code]

Another thing I noticed, because you created a custom role service you should also just inject that instead of using the `InjectQueryService` decorator

[code]

[2020-09-11 16:14] archer747 commented on #526
Thanks for the prompt reply @doug-martin !

Yes Role and User are separate modules and I initially imported both modules exactly as you suggested. Strangely, it complains about only the RoleService which I defined as a QueryService just to support soft-delete.

[code]

Is there an alternate way to support SoftDelete for a module/Entity?

Many thanks!

[2020-09-11 17:18] doug-martin commented on #526
@archer747 can you provide the error you get when when trying to use the RoleService, along with updated code showing how you inject it?

[2020-09-11 17:48] archer747 commented on #526
I have just resolved it thanks to [this thread](https://stackoverflow.com/questions/60554537/dependency-injection-for-nest-js-interceptor-is-undefined)

Apparently the injected services are request scoped so I needed to make my interceptor also to be request scoped.

[code]

Thank you very much for your help and great package @doug-martin !

[2020-09-14 16:21] #462 closed

[2020-09-15 19:15] hugohernani opened #537 "I can't find a way to convert a typeorm query result into a cursor-based response"
First of all, thanks for the incredible framework!

## Is there any helper method that transform a typeorm query result into a cursor-based response?

I've being try to add a custom method into a custom resolver (using CRUDResolver) but I can't figure it out how to transform a collection of entities into a cursor-based response.

[2020-09-15 19:20] doug-martin commented on #537
@hugohernani thank you!

Yep, you can do this in a custom resolver, check out
* https://github.com/doug-martin/nestjs-query/blob/master/examples/typeorm/src/todo-item/todo-item.resolver.ts#L13-L22
* https://github.com/doug-martin/nestjs-query/blob/master/examples/typeorm/src/todo-item/types.ts

I hope this helps!

[2020-09-15 19:24] hugohernani commented on #537
awesome!

Thank you, @doug-martin!

[2020-09-15 21:55] #537 closed

[2020-09-15 22:07] hugohernani opened #538 "How to get custom typeorm service to be accesible within custom resolver?"
Looking into doc I realized the framework allows a service to be customized: https://doug-martin.github.io/nestjs-query/docs/persistence/typeorm/custom-service

The docs seems to show that once the custom **TodoItemService** is injected into autogenerated resolvers, their included method (`markAllAsCompleted`) will be available somewhere (??). I can't figure this out.

But my case goes somehow fur

[2020-09-15 22:07] hugohernani commented on #538
This is my module setup:

[code]

[2020-09-16 15:17] doug-martin commented on #538
@hugohernani because your using a custom service it will not automatically inject the assembler for you should instead extend the `AssemblerQueryService`

[code]

As for why your not getting back results, I'm not entirely sure. Are you just getting an empty connection back? Does the console.log log out DTOs? You may try the new service and let me know if you still have issues.

[2020-09-16 15:34] hugohernani commented on #538
Thanks, @doug-martin !

yes. The console out, called on PostsResolver -> truncatedPosts, gives me the result.
The issue is the the query function inside createFromPromise does not seem to be called and I do not know the reason.
`return PostConnection.createFromPromise((q) => this.service.getTruncatedPosts(q, 'content'), query);`

I liked what you did by extending AssemblerQueryService<PostDTO>. I'

[2020-09-16 15:39] doug-martin commented on #538
@hugohernani do you have the validation pipe enabled? Similar to https://github.com/doug-martin/nestjs-query/blob/master/examples/basic/src/main.ts#L8 (in particular the `transform`) `nestjs-query` will always enforce the transformation for its own methods, but I'm curious if you are not getting an instance of PostQuery but instead the raw payload without any paging defaults.

[2020-09-16 15:52] hugohernani commented on #538
awesome, @doug-martin !

That was exactly the issue. I didn't enable validation/transform before.
I was considering that PostConnection.createFromPromise was not returning anything due to service result not giving the expected result... When you mentioned validation/transform I tested and it worked. Thanks!

[2020-09-16 16:06] hugohernani opened #541 "[QUESTION] How to apply directive into a dto field?"
Following [nestjs documentation](https://docs.nestjs.com/graphql/directives#custom-directives) I created this directive:

[code]

then I added into root module

[code]

Inside ArticlesManagementModule I have a PostDTO and wanted to include @truncate directive into **content** field like so:
[code]

but as a result what I get is TruncateDirective being called on every posts resolver request and on

[2020-09-16 16:21] hugohernani commented on #541
I did some tests and I realized that the directive is **indeed** called on the decorated field. So, the issue seems to be actually on getting access to it from playground.

I'll close this since it does not seem to be related to nestjs-query. It seem this is already posted on nestjs/graphql community: https://github.com/nestjs/graphql/issues/834

[2020-09-16 16:21] #541 closed

[2020-09-16 18:43] #538 closed

[2020-09-18 22:14] archer747 opened #547 "[Bug] Partial update fails with UpdateDTO"
Hi,

I noticed that partial update mutations fail when Update DTO is specified.

To reproduce using the sample [To do app](https://doug-martin.github.io/nestjs-query/docs/introduction/example#update-a-todoitem):

Add todo-item.update.dto.ts:

[code]

Add this to the resolvers in todo-item.module.ts:
`resolvers: [{ DTOClass: TodoItemDTO, EntityClass: TodoItemEntity, UpdateDTOClass: TodoItemUpdateDT

[2020-09-18 22:22] doug-martin commented on #547
@archer747 I'm assuming its because you are making all fields required, and are only passing in completed.

What about the following (adapted from https://github.com/doug-martin/nestjs-query/blob/master/examples/basic/src/todo-item/dto/todo-item-update.dto.ts)

[code]

Hope this helps.

[2020-09-19 07:00] archer747 commented on #547
It worked. I did not realize that there is a requirement to make the fields nullable in the Update DTO as this was not required when Input/Update DTOs were not specified.

Thanks @doug-martin !

[2020-09-19 15:59] yacovg commented on #162
@doug-martin do we have such capability to read items that were soft deleted?

[2020-09-20 20:08] doug-martin commented on #547
@archer747 `nestjs-query` does not require the fields to be `nullable`, by providing the custom update DTO and not setting the fields to nullable `@nestjs/graphql` made them were required. If for example you had a field that you required on every update, you should not make that nullable as you want to ensure the client provides a value. Similar to the create DTO you may have some fields that are

[2020-09-20 20:08] #547 closed

[2020-09-22 19:34] nebo-digital opened #559 "[Question / FR] Nested Order By"
Awesome library you got here guys, exactly what i was looking for. The only thing it seems to be missing is nested order-by.

Is there a way to implement this functionality?
Suppose i have a nested query for customers and i want to sort them by their bank name (which lies in a joined table), something like this:

[code]
Right now it seems only first-level order-by is supported

If this isn't doabl

[2020-09-24 22:29] doug-martin commented on #559
This is not currently supported, I don't think it should be too difficult to add for the existing query services, as it should be building off of the current ability to filter on relations. Feel free to dive it and try to tackle it if you would like.

Thanks!

[2020-09-24 22:58] reecemcd opened #561 "Manually defined CRUDResolver type issue"
Version used (for all three @nestjs-query packages): `0.20.0`

We're testing out some capabilities of your awesome library. A big one for us is to have the ability to manually define our own resolver that we can use to extend functionality easily should edge cases arise. I'm really excited to see this is supported via the CRUDResolver, but seem to be having a typing issue when following along with

[2020-09-25 13:16] JohnDoePlusPlus opened #562 "[Bug] Filter on relations"
When you query a list, with 2 (or more) relationship fields, is generated wrong SQL script.
The problem in generated SQL query, is wrong variables replacement. How you can see in example, I pass 2 different ids, to 2 relationships, but in generated SQL query, in variables, is same id, for `$1` and for `$2`.

Example:
item.entity file:
[code]

dto file
[code]

graphql query
[code]

and generated SQ

[2020-09-25 13:42] doug-martin commented on #561
Hi @reecemcd!

I'm guessing this is a problem because the id's are two different types, could you try switching to a common types?

[2020-09-25 14:29] reecemcd commented on #561
Ah that makes perfect sense. Can't believe I missed that. Thanks so much for the quick response!

[2020-09-25 14:29] #561 closed

[2020-10-05 11:27] wowczarczyk commented on #91
I stumbled upon this one as well. In my case I am using it for phone numbers on contact. I am using Postgres as DB with a column type of `text[]`

[2020-10-06 15:24] Davide-Gheri opened #586 "[Improvement] Ability to override generated query/mutations names"
I understood that the names of Queries and Mutations generated from CRUDResolver (and all other subsets of Resolvers) comes from the DTO name and the "plural" version is generated using `pluralize`.

Thats ok for most of the cases, but sometimes plural is the same than singular (at least for pluralize), this causes the read one Query (`findById`) to be lost because it gets overridden by the read m

[2020-10-12 19:52] Saeid-Za opened #591 "[Discussion] Improvement on functionality of nestjs-query"
Hello. I've been using this amazing library for a couple of weeks now, and it has been really satisfying to see productivity raising up, and I wanted to thank the author and contributors of this project for that, you've created a useful tool, so keep doing what you are doing !
Now, regarding this issue, after using nestjs-query in one of our projects, I saw some opportunities that would support mo

[2020-10-14 08:26] zerox12311 opened #594 "Graphql relation without database relation"
Sometime I use some database without relation, and the database what I can't modify it.
I want to create a readonly graphql api.
Has any method to do this?

I wish create dto file, and declare the relation by manual, and it will expose the graphql endpoints, when I access it, it will query database with lazy method.
Thanks!!

[2020-10-14 12:19] sebargarcia commented on #591
+1 for suggestions 1, 3, and 4.
For suggestion 2 there are differences between pagination strategies so I suggest keep it as it is now

[2020-10-14 14:36] Saeid-Za commented on #591
@sebargarcia Thanks for the Support !
Regarding suggestion 2, if we are going to keep them as they are, `offset` parameter for pagination should be added to `Offset Based Cursor` to support jump functionality and "jumping" isn't supported on `Key Based Cursor` pagination, which i don't know if could be compatible in one interface (`cursor` and `paginationInfo` aren't really needed in `Offset Based

[2020-10-14 14:49] Saeid-Za commented on #594
As i understood, you want to define a new DTO that itself has no direct relation to database tables, but instead has some custom fields that would be resolved in a custom-made resolver, that could access which ever table it wants.
If i'm right, this link should be helpful, a guide to create your [custom resolver](https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#custom-methods).
Ho

[2020-10-14 15:59] doug-martin commented on #594
@zerox12311 We have done this internally using the [`RelationQueryService`](https://doug-martin.github.io/nestjs-query/docs/graphql/federation#relationqueryservice) I built originally for federation but have found it useful in this scenario as well.

[2020-10-15 05:00] #562 closed

[2020-10-15 21:56] imnotjames commented on #591
I had tested this in TypeORM - nested relation filtering seems to work with the small test I wrote.

See https://github.com/typeorm/typeorm/issues/2707

[2020-10-16 03:48] doug-martin commented on #469
Published under `v0.21.0`

[2020-10-16 03:48] #469 closed

[2020-10-16 15:45] doug-martin commented on #594
@zerox12311 I've [published some docs](https://doug-martin.github.io/nestjs-query/docs/graphql/relations/#virtual-relations) to provide a basic example of how to do this.

Let me know if anything is unclear in the docs so I can update them or feel free to issue a PR with any suggested changes.

Thanks!

[2020-10-16 21:43] doug-martin commented on #591
Hi @Saeid-Za

Thank you for the detailed feature requests. At first glance I think 1 and 2 could be solved by exanpding the offset based paging to have a more useful structure similar to what you suggested.

[code]

I chose nodes to keep inline with the graph nomenclature.

For the second part of number 2, the offset based paging provides hidden benefits that are used by `nestjs-query` for relatio

[2020-10-16 21:44] doug-martin commented on #586
@Davide-Gheri I'll take a look at this it shouldn't be too hard to add.

[2020-10-16 21:49] doug-martin commented on #518
I'm not sure how feasible this is, I'd have to do some research. But I think @sebargarcia is correct here in a relational DB I would just put the `ON DELETE CASCADE` clause in my migrations.

I see your point on the generated model, but the resolvers for relations and the parent object are separate and I'm not sure graphql or `@nestjs/graphql` supports this out of the box.

[2020-10-17 06:27] Saeid-Za commented on #591
Hi @doug-martin, thanks for commenting your thoughts !
For FR number 1, as you stated, `nodes` would be a better name.

For FR number 2, I completely agree on the fact that with current `Cursor` implementation, developers could progressively adapt `Key Based` pagination, and I think this is a really nice feature to have, so we would need to keep `paginationInfo` and `cursor` sub-queries and `after

[2020-10-17 14:34] ngdnghia28 opened #604 "[Question / Feature Request] Support multi-tenants"
I follow [this guide](https://medium.com/@espositomarco.84/handle-multi-tenant-multi-db-with-nestjs-and-typeorm-ee50f162485e) to implement multi-tenants by using multi-databases.

But I cannot integrate it with these libs. Because your service class don't support nestjs REQUEST scope.

So could you show me the way to implement multi-tenants or do you have any plan to support this feature?

[2020-10-17 21:51] doug-martin commented on #604
@ngdnghia28 I havent tried it but you could try creating a custom service following [these directions](https://doug-martin.github.io/nestjs-query/docs/persistence/typeorm/custom-service) and add the `@Injectable` decorator with the correct scope. You would also want to replace the `@InjectRepository` with the connection example found in the blog post, and pass in the repository from the connection

[2020-10-18 02:49] ngdnghia28 commented on #604
@doug-martin It worked.

Thank you.

[2020-10-18 03:29] #604 closed

[2020-10-18 03:29] #586 closed

[2020-10-18 03:46] doug-martin commented on #586
Hi @Davide-Gheri

I published a new version `v0.21.1`. The new version allows you to specify a `one.name` or `many.name` option to override the auto-generated endpoint name. Checkout the [docs](https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers/#override-endpoint-name) for an example.

Thank you for the feature request, and let me know if you have any issues!

-Doug

[2020-10-19 15:12] oldwolf opened #609 "make maxResultsSize and defaultResultSize optional"
Thanks for your awesome package. Sometimes I have to set a large number to maxResultsSize & defaultResultSize for some models, like countries or currencies, to query all the data, this works but maybe there's better way to deal with?

Also there is inconsistent naming for maxResultSize, below is quoted from documentation

[2020-10-19 15:21] doug-martin commented on #609
@oldwolf in this case would it be better to turn paging off for those models? https://doug-martin.github.io/nestjs-query/docs/graphql/paging#disabling-paging

[2020-10-19 15:32] oldwolf commented on #609
Yeah, i had same consideration before, but sometimes we need paging for listing page, while for dropdown selection or CSV export we want to disable paging, is there a way to kill two birds with one stone?

[2020-10-21 04:18] doug-martin commented on #559
@nebo-digital I'm currently researching this. At the surface it looks easy enough to implement, however, it comes with its own unique set of challenges that I'm trying to work through.

1. The current version of typescript does not support a type safe field attribute. With version `4.1.0` I'll be able to make this type safe with [`template literal types`](https://devblogs.microsoft.com/typescript/

[2020-10-22 08:33] davidevernizzi opened #622 "super(`${description} Ensure ${Cls.name} is annotated with @nestjs/graphql @ObjectType`); when using CRUDResolver"
I'm following the docs for custom methods in resolvers (https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#custom-methods) and I get the following error on `types.ts`:

[code]

Here are my files:

`Types.ts`
[code]

`accounts.resolver.ts`
[code]

`accounts.module.ts`
[code]

Everything seems to be in line with the doc, but I get that error when I compile.

[2020-10-22 14:52] doug-martin commented on #622
@davidevernizzi would you mind providing your account definition as well?

[2020-10-22 14:54] davidevernizzi commented on #622
The entity you mean?

[code]

[2020-10-22 15:18] davidevernizzi commented on #622
Thanks, your solutions worked. Moving to a separate file was the key. Should I update the doc to reflect this, or you change the module to prevent the issue?

[2020-10-23 15:27] doug-martin commented on #622
Published the new docs

[2020-10-23 15:27] #622 closed

[2020-10-27 03:09] boxcc opened #639 "About subscription customize guards/decorators"
**Is your feature request related to a problem? Please describe.**
I have an interface that I need to give Admin permission to create, Member has subscription permission, but I can't customize guard/decorators for subscription, subscription uses create guard/decorators by default.

Code:
[code]

**Describe the solution you'd like**
I hope to set the guard/decorators of the subscription independent

[2020-10-28 02:31] doug-martin commented on #609
@oldwolf there isn't a way to make a relation act in different ways based on the use case. You could add the same relation twice one version for paging the other where the paging is turned off, but that could be confusing.

What is your suggestion on how to address this issue?

[2020-10-28 02:32] doug-martin commented on #559
I'm going to hold off on this until typescript `4.1` is released with templated types.

[2020-10-29 05:38] smolinari opened #645 "Implementing Typegoose possible"
Hi,

I was just wondering if it would make sense to take the time to also do a Typegoose implementation/ package. I believe Typegoose (and the NestJs-Typegoose module) is a bit more flexible than Nest's own Mongoose module in that more can be done in/ with the entities. This is also an opinion based only on very high-level research of issues in both packages.

I've not dug in at all into the nestj

[2020-10-29 09:48] smolinari commented on #645
I'm also trying to run the unit tests and running into a slew of strange fails. Seems like the tests with any kind of number is expecting negative values and getting positive ones. I can't find anything describing that kind of issue with Jest using google either.

🤷

Scott

[2020-10-30 04:15] oldwolf commented on #609
i would suggest remain the default result size & max result size, while adding an option to override them, like noLimitSize: true

[2020-11-01 05:42] smolinari commented on #645
There are so many tests failing it must be something general to either my setup or Jest's setup.

I'm running Win 10 Pro. Node 12.19.0.

This is the final result.

![image](https://user-images.githubusercontent.com/3314957/97795907-2cb24d00-1c0c-11eb-857d-202ab3385759.png)

All the tests failing seem to be `toEqual` with either text or objects being compared. Most of them are the SDL to schema cre

[2020-11-01 06:37] smolinari commented on #645
Ok. As it seems, it's a Windows/ Git issue.

This is the text with `JSON.stringify`

[code]

If Git for Windows isn't set up correctly, it will add `/r/n` as line breaks when cloning a repo. If the project was developed in anything other than Windows, then text comparisons with `toEqual` that have line breaks in them will fail. Too bad Jest doesn't say something like "mismatched line breaks" or sh

[2020-11-01 06:38] smolinari commented on #645
I'll also try what you suggested @doug-martin and report back. If Typegoose does work too, I'll close this issue.

Scott

[2020-11-01 07:37] smolinari commented on #645
Ok. Nope. Typegoose isn't 1 to 1 compatible. I'll try my luck at building out a Typegoose equivalent as an additional package. Typegoose is being well maintained and I do think it has some advantages, like just a bit more documentation and some additional  features available within the TypeScript side of it all. By that I mean, one doesn't have to go into the Mongoose schema side of things to do,

[2020-11-01 09:59] dschewchenko commented on #591
I'm agree, that 3th FR is really important.

[2020-11-02 20:48] JohnMcInall commented on #645
Hi @smolinari ,

I have a typegoose implementation of this library that I have been building over the last couple of weeks, the only thing I still need to do it write the full documentation for it but you are welcome to try it out :)

You can find a built version of it here - https://github.com/JohnMcInall/nestjs-query-typegoose

I will be making a PR in the coming days after I write up the docume

[2020-11-03 08:37] smolinari commented on #645
Hi @JohnMcInall,

At first site, this looks great!! :D Thanks for chiming in, as I definitely don't want to do double work/ reinvent the wheel. 😁 Any chance I can get into the repo with the source code to help? I don't mind doing docs as I'm not the greatest programmer either. 😊

@doug-martin - would be great, if you could chime in as to if you even want this as an extra package. 😃

Scott

[2020-11-03 11:01] JohnMcInall commented on #645
@smolinari Hey, I only need to write the e2e tests in the example stuff now, you can find the source code on the forked branch on my account [here](https://github.com/JohnMcInall/nestjs-query) :+1:

[2020-11-03 11:28] smolinari commented on #645
@JohnMcInall - Are you in Discord? I'm available as Scott (EN-DE)#0052.

Scott

[2020-11-03 11:33] JohnMcInall commented on #645
@smolinari I am, I have added you :+1:

[2020-11-06 18:25] davidevernizzi opened #667 "Question: how can I use a ConnectionType within a CRUDResolver using data coming from a specific service?"
Following custom resolver doc, I have the following method in a CRUD resolver. Note that I want to fetch my data from a specific service (`fooService`), so I changed `this.query({})` with `this.fooService.query({})`.

[code]

The data is returning correctly, but then the GraphQL API call fails because it seems that the structure with `pageInfo` and `edge` is not present. However it is present if I

[2020-11-06 20:23] doug-martin commented on #667
I'll update the docs to include an example of this but this snippet should help

[code]

[2020-11-09 21:04] davidevernizzi commented on #667
Thanks. That helps, but is there a way of providing actual data instead of a promise. I'd like to actualize my query, manipulate the result and return it as a graphql response. Something like the following:

[code]

[2020-11-09 23:55] doug-martin commented on #667
There isn't a method dedicated to that, but you can manipulate the data inside of the callback

Something like

[code]

[2020-11-18 10:40] peterprincz opened #698 "Question:How can I use join query instead of N number of subselect?"
First of all thank you very much for this library, it is awesome.
But there is one thing that I can not get to work.
I have 2 entities:
A {
  b:B
}
B {
  filterableField:string
}

when I do a "query all A where a.b.filterableField eq 'XY', how can I use one big JOIN query instead sequalize doing a "SELECT * FROM A" then doing another query for B for A's resultSet?
Thanks in advance.

[2020-11-18 18:02] vabatta opened #700 "Error: Schema must contain uniquely named types but contains multiple types"
**Describe the bug**
By following the example available at https://github.com/doug-martin/nestjs-query/tree/master/examples/federation, the following error is thrown when running `sub-task-graphql`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally the example
2. Run the `sub-task-graphql`

**Expected behavior**
To have Federation working properly when extending remote Obej

[2020-11-18 19:00] joeybenenati opened #702 "Question: Custom filter operators"
I've been exploring nestjs-query for a couple days now and first off,  thank you. This is an incredibly well thought out solution. My project requires the use of PostGIS methods like ST_Intersects, for which I've created a custom TypeORM operator. I'd like to extend the functionality of these custom operators to the built in query interface filter but I'm having a hard time understanding how I wou

[2020-11-18 22:34] #700 closed

[2020-11-22 21:41] danielkv commented on #702
+1

[2020-11-24 12:43] vabatta opened #719 "`@nestjs-query/grpc`"
**Is your feature request related to a problem? Please describe.**
Not really related to a problem. The initial idea was to use Federation but Apollo Federation is not fully ready yet (and most probably won't be for some time coming) and we really need subscriptions. Other implementations exists for Federated subscriptions but not integrated into NestJS. With this said, we were thinking of using a

[2020-11-24 15:00] danielkv opened #720 "Custom sort field"
**Is your feature request related to a problem? Please describe.**
I'm trying to sort by a field that's generated in selection, it's not on DB. But the system tries to put a table name in front of the field name.

**Describe the solution you'd like**
It may be a good solution to define allowed sorting fields and how these are used to sort

**Additional context**
`query.addSelect([
            'COM

[2020-11-24 22:43] danielkv commented on #702
I'm also trying to figure it out. I don't think it's possible. Some problems happen because we can't define how each filter would work. It also happens in sorting: https://github.com/doug-martin/nestjs-query/issues/720

I opened the issue to take a look on it. This lib is great, but without this would really be a problem

[2020-11-25 20:14] danielkv commented on #562
+1

[2020-11-26 01:57] doug-martin commented on #562
Hi @danielkv! If you are running into this issue with the latest version, would you mind opening up a new issue with steps to reproduce or a complete example?

Thanks!

[2020-11-26 02:02] doug-martin commented on #698
@peterprincz this is currently a limitation with sequelize. In typeorm I am able to get the underlying SQL to perform a union. In sequelize (last I checked) I could not get the raw SQL from the builder to do a union.

If you want to investigate and see if you can come up with a solution that would be amazing! As of right now I'm going to focus custom operators for filtering and sorting to address

[2020-11-26 02:06] danielkv commented on #562
@doug-martin I've got it

[2020-12-01 01:36] danielkv opened #734 "Assemblers are not working as it should"
I copied the code from docs, but assembler is returning errors

**To Reproduce**
Steps to reproduce the behavior:
1. Module
[code]
2. Error

[code]

**Desktop (please complete the following information):**
 - Node Version 12.14
 - Nestjs-query Version v0.21.0

[2020-12-01 12:51] danielkv commented on #734
**I figured it out!**

I was using a DeliveryRepository as entity. I created some methods I nedded inside a repository.

I solved this problem, but what if I really needed to use a Custom repository, how'd what that go?

[2020-12-08 02:39] kodeine opened #749 "mikro-orm support"
[mikro-orm](https://mikro-orm.io/) is really good, i was wondering if it can be supported as well?

[2020-12-08 12:16] tonytoth opened #752 "How to order on a relation field (foreign key) ?"
I would like to find out if I am able somehow to order based on a relation field (foreign key) without creating a custom service. If I need to create a custom service, which would be the best way to do it ?

[2020-12-08 12:33] smtaha512 opened #753 "Can not fetch totalCount."
I am using Graphql and TypeORM and trying to fetch totalCount using cursor-based pagination. But it throws the following error:
![image](https://user-images.githubusercontent.com/10245369/101484093-e96d9b80-397a-11eb-91bf-785dccab307c.png)
My module, resolver, and service are as follows:

**Module:**
[code]
**Resolver:**
[code]
**Service:**
[code]
Could you please help me figure out what I am miss

[2020-12-08 13:00] tonytoth commented on #752
My question might be related to this [559](https://github.com/doug-martin/nestjs-query/issues/559) issue.

[2020-12-08 20:52] petyunchik commented on #753
I can confirm the problem - It seems there is some bug when you extend `CRUDResolver` class (and perhaps other resolver classes too).

Same problem when querying relations on extended `CRUDResolver`: `Cannot return null for non-nullable field ...`

I've tried to declare identical options from of `NestjsQueryGraphQLModule.forFeature` `resolvers` and querying works without any problems. So the probl

[2020-12-10 23:40] doug-martin commented on #753
@smtaha512 @petyunchik thank you for the bug report!

I tried to replicate locally and it worked as expected you can see my example [here](https://github.com/doug-martin/nestjs-query/tree/issue753/examples/basic/src/todo-item).

@smtaha512 what is `HandBookRepository`? Does it conform to the same interface as a normal TypeOrm repository?

Couple of questions to maybe help narrow it down
* Does the

[2020-12-11 05:29] doug-martin commented on #734
@danielkv good question! Its not documented currently but you could create a custom `DeliveryQueryService` and `AssemblerQueryService`

Something like

[code]

[code]

I hope this helps!

[2020-12-11 05:29] #734 closed

[2020-12-11 11:02] smtaha512 commented on #753
@doug-martin, yes `HandbookRepository` is actually a class that extends `Repository` from TypeOrm. Please check the attached code snippets:

**Handbook Repository**

[code]

**BaseRepository**

[code]

**Answers:**
- Yes the table has data. I am actually adding 10 rows as seed.
- Yes, My Resolver decorator has the type. It is `@Resolver(() => HandbookDto)`
- The versions I am using are:

[code]

[2020-12-11 23:06] doug-martin commented on #753
@smtaha512 I tried to create a custom repository using the code you provided, but when the repository is injected the `manager` property is null so none of the default methods work. Would you mind trying not using a custom repo and see if it works?

[code]

[2020-12-11 23:12] doug-martin commented on #753
@smtaha512 would you mind also sharing your DTO and Entity definition incase its something in there?

[2020-12-13 15:50] petyunchik commented on #753
@doug-martin thanks for pointing out - in my case Resolver decorator didn't have a type/DTO and that's why there was an issue.

[2020-12-15 01:12] vladmelnyk opened #764 "Filtering by relation field not working when custom relation name used"
**Describe the bug**
Following [guide](https://doug-martin.github.io/nestjs-query/docs/graphql/relations/#filterablerelation-decorator)
works fine until I rename relation to something custom:
If I call it `todoItemRelation` for example - I will get the following error (I specified relationName: 'todoItem' as well):
when trying to filter on todoItem id field
`unknown operator \"id\""`

### Have you

[2020-12-15 07:14] smolinari commented on #764
@vladmelnyk - Can you show your code and how you ran your query? I ask, because you mention filtering on id, yet show a filter for title.

Scott

[2020-12-15 11:03] vladmelnyk commented on #764
oh, sorry, for that particular example that I submitted - it would be this error:
`unknown operator \"title\""`

Ultimately, it doesn't really matter on what field I apply filter - it is always showing me this error.
I can only fix it by keeping the original relation name

[2020-12-15 16:00] doug-martin commented on #764
Hi @vladmelnyk,

Would you mind providing your DTO and entity definitions?

[2020-12-16 10:23] smtaha512 commented on #753
@doug-martin I tried injecting the repository directly using the following method:
[code]
It is also throwing the same error for me. Is it working for you?

[2020-12-16 10:28] smtaha512 commented on #753
Here is the entity:
[code]
**Base Entity:**

[code]

**DTO**

[code]

[2020-12-16 13:39] tonytoth commented on #752
If someone is wondering how you can workaround this, this is my solution:
resource.resolvers.ts
[code]
resources.service.ts
[code]

[2020-12-16 13:40] tonytoth commented on #559
@nebo-digital  this might help you as a temporary solution: https://github.com/doug-martin/nestjs-query/issues/752#issuecomment-746296613

[2020-12-16 13:45] tonytoth commented on #752
@doug-martin I would like to hear your opinion on this workaround.
Thank you !

[2020-12-16 15:53] Diluka commented on #35
@doug-martin what a mess, it doesn't use the `ValidationPipe`
[code]

[code]

[code]

[2020-12-16 19:10] vladmelnyk commented on #764
@doug-martin

dto:
`@ObjectType('TrainingBookOrder')
@FilterableRelation('training_event', () => TrainingEventDTO, {
  disableRemove: false,
  disableUpdate: false,
  disableRead: false,
  allowFiltering: true
})
export class TrainingBookOrderDTO implements ITrainingBookOrder {
  @FilterableField(id => ID)
  id: number;

  @Field(() => FormattedTrainingEventDto)
  training_event: ITrainingEvent;

[2020-12-16 20:24] doug-martin commented on #764
Thank you for the example. Have you tried the [`relationName` option](https://doug-martin.github.io/nestjs-query/docs/graphql/relations#custom-relation-name)?

[2020-12-16 20:32] doug-martin commented on #753
When you did this did you remove your custom repository from the module, if you don't it will still inject the custom one and not work.

[code]

[2020-12-18 03:18] Diluka opened #767 "FilterableField not work with PickType"
**Describe the bug**
seems field is missing

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

**To Reproduce**
Steps to reproduce the behavior:
1. Step 1
2. Step 2

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-12-19 17:13] andymitchellx opened #769 "Question: how to implement record ownership on create."
I'm trying to figure out how to assign ownership of a record to the current user when the record is created.  A user owns many teams; many teams have many users.

What I tried:

1) I tried using a DTO @BeforeCreateOne() to add the user id and team id to the joining table.  I could not figure out how to structure it.  I can get the user id.  But, I do not have the id of the new team record until af

[2020-12-19 17:14] andymitchellx opened #770 "Question: Custom Service - Creating Ownership Records"
I'm trying to figure out how to assign ownership of a record to the current user when the record is created.  A user owns many teams; many teams have many users.

What I tried:

1) I tried using a DTO @BeforeCreateOne() to add the user id and team id to the joining table.  I could not figure out how to structure it.  I can get the user id.  But, I do not have the id of the new team record until af

[2020-12-19 17:16] vladmelnyk commented on #764
I tried this in dto
`@FilterableRelation('training_event_custom_name', () => TrainingEventDTO, {
  disableRemove: false,
  disableUpdate: false,
  disableRead: false,
  allowFiltering: true,
  relationName: 'training_event'
})`

query:
`query {
  trainingBookOrders(
    paging: { first: 50 }
    filter: { training_event_relation2: { id: { eq: 15 } } }
  ) {
    edges{
      node{
        id

[2020-12-19 18:57] vladmelnyk opened #771 "Filter on relations goes 1 level deep"
**Describe the bug**
I can filter on relations fields, but cannot on relation's relation... Is this by design?

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

**To Reproduce**
Steps to reproduce the behavior:
1. Step 1
2. Step 2

**Expected behavior**
A clear and concise description of what you e

[2020-12-20 03:58] smolinari commented on #764
@vladmelnyk - Shouldn't your relation filter then be `training_event`?

Scott

[2020-12-21 15:16] andymitchellx commented on #770
I accidentally created this twice (#769).  Didn't mean to.

[2020-12-21 15:16] #770 closed

[2020-12-22 02:25] Diluka opened #774 "query pageinfo error when mocks enbaled"
**Describe the bug**
`Error: No mock defined for type "ConnectionCursor"`

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

**To Reproduce**
Steps to reproduce the behavior:
1. mocks: true
2. mockEntireSchema: false

**Expected behavior**
no errors

**Screenshots**
If applicable, add screenshots to

[2020-12-22 06:20] andymitchellx commented on #769
I figured it out after looking at #538.  I created a custom assembler and changed my service.

Custom Assembler
[code]

Team Service constructor (added assembler)
[code]

Added assembler to module (not sure if necessary).
[code]

That feels good!  Merry Christmas!

[2020-12-22 06:20] #769 closed

[2020-12-22 15:03] vladmelnyk commented on #764
no

[2020-12-22 15:22] kodeine opened #775 "Using with CQRS pattern"
So how can we use the resolvers with a cqrs pattern, basically we need to use a command bus.
What would be the best approach to handle this use case.

[2020-12-22 15:53] smtaha512 commented on #753
Sorry for the late reply, I was suffering from dengue fever.

Here are my DTOs and Entity definitions.

**Handbook DTO**
[code]

**GqlBaseResponseDto**
[code]

**Handbook Entity**
[code]

**Base Entity**
[code]

[2020-12-22 15:54] smtaha512 commented on #753
Yes. I removed the custom repository from the module but getting the same error.

[2020-12-28 08:54] steinroe opened #780 "Custom Service + RelationQueryService"
Hi @doug-martin,

first of all - thanks for this immensely useful library!

## 📚 Documentation
I am currently trying to add a virtual relation to a DTO which a custom typeorm query service exists for. I am wondering how this can be combined into one service, especially since the TypeORMQueryService extends the RelationQueryService.

This is what I assumed would work, but TypeOrmQueryServiceOpts do

[2020-12-28 11:35] steinroe opened #782 "Virtual Fields"
Hi,

again, I think this library is highly underrated - such great work!

**Is your feature request related to a problem? Please describe.**
I have the following setup (minimised):

UserDTO:
[code]

User Entity:
[code]

I now want to return the emailVerified field based on the current user, because I retrieve the auth info for that user form a third party service. Normally, I would simply do this

[2020-12-28 12:01] #782 closed

[2020-12-29 01:03] thehappycoder commented on #702
I've got a similar need -- need to be able to use tsqueries https://www.postgresql.org/docs/12/datatype-textsearch.html

[2020-12-29 07:06] smolinari commented on #782
@steinroe - Why did you close this?

Scott

[2020-12-29 08:13] steinroe commented on #782
Hi @smolinari ,

sorry for leaving this uncommented!

Achieving the desired behaviour is already possible by simply removing the field from the DTO and adding a named FieldResolver to the resolver:

[code]

[code]

Thanks for asking!
Best
Philipp

[2020-12-29 11:13] incode4it opened #785 "Mongoose multiple sort fields not working"
**Describe the bug**

If you use mongoose and pass multiple sort fields in the `sorting` param of the query it throws the error `sort() only takes 1 Argument`

**To Reproduce**
Query example:

[code]

Response:
[code]

**Expected behavior**
No Error

**Desktop**
 - Node Verson 12.16.1
 - Nestjs-query Version 0.21.2

[2020-12-29 19:56] doug-martin commented on #702
I'm working on this right now, there are quite a few pieces to it from the core library to graphql and how to use it properly within the persistence library. Its taking me a while but I think it should be out in the next week or so.

[2020-12-30 22:38] tillsanders opened #788 "Mongoose has no `DocumentToObjectOptions`"
I've been following the guide and then the example, but I always get the following error message:

[code]

A quick search in the mongoose repository shows that `DocumentToObjectOptions` does indeed not exist and never has.
It seems like this is because mongoose 5.11 now uses it's own typings? I have other problems though, when downgrading, so I cannot try this.

### Have you read the [Contributing

[2020-12-30 23:20] doug-martin commented on #788
@tillsanders I've not tried mongoose 5.11 yet, but looking at the issues in their repo this is pretty common with some people removing the mongoose types and installing `@types/mongoose` I'll need to try to upgrade to `5.11` in order to see what's going on, as I suspect there is more than just the `DocumentToObjectOptions` missing or not working.

[2020-12-31 05:30] thehappycoder opened #790 "enableTotalCount with Offset paging strategy"
With offset paging strategy enabled, I also need to know the total number of nodes, so that I could calculate the number of available pages on the client side.

[2020-12-31 05:36] smolinari commented on #788
FYI and not completely relevant, but Typegoose has frozen their Mongoose version because of the changes in types.

Scott

[2021-01-02 14:17] tillsanders opened #793 "Connecting to websocket"
I have trouble connecting from my Nuxt Apollo module / vue-apollo to the websocket endpoint. I followed the documentation and enabled the endpoint with the `enableSubscriptions` options. Since there is no URL specified either in the nest.js docs nor the nestjs-query docs (maybe that could be improved?), I'm guessing. I get the following results:

- ws://localhost:3000: `ERROR: WebSocket connection

[2021-01-02 14:18] tillsanders commented on #793
Side note: I feel like this is not really a bug report. Maybe we could enable the new Discussions feature for this repository so we can ask questions there? 🙂

[2021-01-02 14:35] smolinari commented on #793
@tillsanders - Maybe a silly question, but did you turn on subscriptions within NestJS' GraphQL Module?

https://docs.nestjs.com/graphql/subscriptions#enable-subscriptions

Scott

[2021-01-02 16:07] tillsanders commented on #793
@smolinari I'm pretty stuck, so at this point, there are no silly questions 😄  I didn't, in fact turn that on. Somehow, I was under the impression, that this would be handled by nestjs-query. Unfortunately, I still get an error message:

[code]

[2021-01-02 22:02] smolinari commented on #793
Unfortunately, I have little experience with subscriptions. Hope someone else can chime in.

Scott

[2021-01-03 01:02] doug-martin commented on #793
@tillsanders I added basic support for them based on other feature requests, however we don't really use them in our application because we are using federation :( I'll need to research this more but that will be a couple of days after I wrap up the custom operator work.

[2021-01-03 12:17] tillsanders commented on #793
Hey Scott,
thanks for your continuous support on this matter! I now have subscriptions working!

I'm not completely sure, why it didn't work before. Maybe it was a caching problem or something. I activated the options described above and could get subscriptions to work with the GraphQL Playground. My apollo configuration in Nuxt.js now looks like this:

[code]

[2021-01-03 12:37] tillsanders commented on #793
@doug-martin Thanks for your reply!
I'm not very familiar with federations. In what way can they be a substitute for subscriptions?

I got subscriptions working with vue-apollo now, but the solution is not exactly elegant and I'm not sure why. I'm following the documentation of vue-apollo here: https://apollo.vuejs.org/guide/apollo/subscriptions.html#simple-subscription. The idea is, that I fetch

[2021-01-03 20:01] smolinari commented on #793
It's not a substitute, subscriptions don't yet work with federation.

Scott

[2021-01-03 20:45] tillsanders commented on #793
Ahh, I see 😄

[2021-01-03 22:31] doug-martin commented on #793
@tillsanders I have not seen a convention for subscriptions, but then again I haven't used them a whole lot. If you can find a convention with a spec that should be followed we could look at either adding an option to support it or change all of the subscriptions to follow the convention.

Thank you for the updates, I'm glad you were able to get it working!

[2021-01-05 07:06] thehappycoder commented on #752
Another workaround is to use database view + ORM model on top of this view.

[2021-01-05 21:16] steinroe opened #797 "Allow authorisation filter on relation"
Hi,

once again, thanks for this great package!

**Is your feature request related to a problem? Please describe.**
I have an entity "Rental Period", and I need to give both the tenant and the landlord access to it. The Entity itself has a ManyToOne to the Landlord entity and a ManyToMany to the Tenant entity:
[code]

I need to allow access to a user who is either assigned to the landlord or to a

[2021-01-06 09:05] thehappycoder opened #798 "Eagerly load data from external service in a query and access it in @ResolveField from @Parent"
Is it possible? I got the external data in `parents` query, returned it in its resolve function as an additional field in ParentDTO, but `Child.someField` (annotated by @ResolveField) cannot see it, it only sees the original one.

Alternative solution is to make a request to an external service every time Child.someField is resolved. I just want to avoid doing that for performance reasons.

[2021-01-06 19:38] steinroe commented on #780
Hi,

found a solution: Simply extend the QueryService instead of the TypeOrmQueryService.

[code]

[2021-01-06 19:38] #780 closed

[2021-01-07 16:18] h4rm opened #800 "Nested Relations"
Hi @doug-martin ,
thanks a lot for this amazing library. I was recently looking into the `@Relation` decorator and I would like to use it for querying a reference in a subfield without creating it's own collection (as it is possible with pure mongoose):

[code]

And the following module:

[code]

The main problem is, that the nested relation of `WallDTO` (i.e. `color`) is not populated when queryi

[2021-01-07 18:50] steinroe opened #801 "Allow class-validator options to be set"
Hi,

it would be really great if we could allow class-validator options to be set. This would help anyone who is not using the default options in the global validation pipe.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

Yes

**Describe the solution you'd like**
It would be great to have the possibility to pass class vali

[2021-01-08 06:34] thehappycoder opened #802 "AuthGuard isn't working correctly when CRUDResolver is extended in a particular way"
**Describe the bug**
It's best to describe it with an example code and code comments, which I did, but in a nutshell, AuthGuard isn't working when CRUDResolver is extended in a particular way. My custom PassportStrategy does work and returns SharetribeUser object, but it doesn't seem to get to `request.user`, and, therefore, `@CurrentSharetribeUser() stUser: SharetribeUser` is null.

[code]

**Des

[2021-01-08 07:40] doug-martin commented on #802
@thehappycoder  that is odd...the guards should **only** apply to the generated endpoints because they are added individually to each endpoint. For anything that is not generated by nestjs-query I would add the guards using the `UseGuards` decorator.

[2021-01-08 07:47] thehappycoder commented on #802
@doug-martin oh I see. I was hoping it should apply the guards to all queries and mutations in the class, which would be more secure for resources that need to be fully protected.

But yeah, somehow it gete applied when I keep the generated many query and also override it in the class.

[2021-01-08 08:52] h4rm commented on #800
Hey guys,

just a little update from my testing around. I think the @Relation decorator only works on the top-most level. The workaround I found so war is to have a custom Service that overrides the Mongoose query and model the Relation as a simple `@Field`:

Here are the entities:

[code]

Here is the Module:

[code]

And here is the Service

[code]

[2021-01-08 09:16] smolinari commented on #800
@h4rm - The `auto-populate` plugin might be of interest to you.

https://plugins.mongoosejs.io/plugins/autopopulate

Scott

[2021-01-08 09:48] h4rm commented on #800
@smolinari Thanks a lot for pointing that out. It seems that this pretty much solves this problem because it indeed works without the Service. However, it would be awesome to have this nested behavior for `@Relation` although I have no idea how easy it is to implement in `nestjs-query`.

[2021-01-08 10:38] h4rm commented on #800
It seems that the autopopulate plugin is not helping here because it also cannot work with nested Schemas as stated here:
https://github.com/mongodb-js/mongoose-autopopulate/issues/26

[2021-01-08 12:24] smolinari commented on #800
Ah. Bummer that is. Sorry for sending you on a goose chase. @h4rm

Scott

[2021-01-08 12:31] smolinari commented on #801
@steinroe - Would creating your own validation pipe help with this?

https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#guards-pipes-filters-and-interceptors

I was trying to get a custom pipe done to use class-validator's schema and was successful up to the point of using the `validate` method, but for some reason the schema is ignored and `validate` always returns an empty array.

[2021-01-08 16:06] johannesschobel opened #804 "[Feat]: RESTful Controllers"
Dear @doug-martin ,

long time no hear ;) Was quite busy the last months, but i am kicking off a new project in a few months. As i used your library in my last project, i would like to use this library again - as it is **super** convenient to use!

**Is your feature request related to a problem? Please describe.**
However, based on specific requirements, i would need to build a RESTful application

[2021-01-08 19:25] steinroe commented on #801
Hi @smolinari, thanks for the quick reply. Also thanks for pointing me to this great library - it saved us weeks!

I don't think that suits our needs. We have defined a global validation pipe with useGlobalPipe and use non-default settings there (we want to skip missing values).

In the implementation however calls class-transformer manually in the resolver:
[code]

[code]

This means that no matt

[2021-01-09 06:49] smolinari commented on #801
Shouldn't the global pipe override anything nestjs-query is doing? In other words, the request should fail before the resolver is even hit?

Scott

[2021-01-09 11:42] MariusParasca opened #805 "Third, multiple level of nesting relations in filtering"
## 📚 Documentation
Hi, thanks a lot for this incredibly useful library!

I stumble against one issue here. I didn't find any documentation for it yet and I'm not sure if is possible or not.
Is it possible to have multiple filterable relations (3 or more).

For example:
I have the following database relation:
![image](https://user-images.githubusercontent.com/22623541/104090514-f2a29e80-527f-11eb-8

[2021-01-10 05:55] thehappycoder opened #806 "How to use QueryService within a database transaction?"
How to use QueryService within a database transaction? In particular, with TypeORM.

[code]

[2021-01-10 07:25] smolinari commented on #806
I'd imagine you'd need to create a custom service using the connection for a transaction as described here:

https://docs.nestjs.com/techniques/database#transactions

and here:

https://doug-martin.github.io/nestjs-query/docs/persistence/typeorm/custom-service

(Disclaimer: I don't user TypeORM so take my comments with a grain of salt.)

Scott

[2021-01-10 07:34] thehappycoder commented on #806
@smolinari
In typeorm it is required to use `manager` instance provided by transaction call. It's not possible to pass this instance to the nestjs-query's QueryService. For now, I not using QueryService and just use the manager instance to get a TypeORM repository instance.

[2021-01-11 18:03] ledamint opened #808 "Keep relation after soft delete with sequalize"
Hi
I use Sequalize-typescript and Postgres DB.
I have in a model:
[code]
So DB doesn't delete an entity, just add deleted time in `deleted` after the call GraphQL delete method.
All is ok but I have a relation to this deleted entity and I want to continue to get info about the deleted entity through a related entity but now I get an error.

Example:
I have a client
[code]
and a visit
[code]
I crea

[2021-01-12 10:07] Diluka opened #811 "graphql documentation generate and template"
**Is your feature request related to a problem? Please describe.**

generated Queries and Mutations are lack of docs. generate more docs and doc template for i18n

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

**Describe the solution you'd like**
A clear and concise description of what you want

[2021-01-12 20:06] johannesschobel commented on #804
Dear @doug-martin ,
hooking into this issue again.. I just looked into this - basically, how we could achieve such a functionality..
Basically, the `nestjs-query/typeorm` package provides independent logic and can be reused 100%, i guess.

Maybe we would need to create a new `nestjs-query/rest` package, that is able to create `controllers` based on decorators - similar to the `nestjs-query/graphql

[2021-01-12 20:12] doug-martin commented on #804
Hi @johannesschobel!

I'm not opposed to this I think we could reuse the query services entirely, but would need parallels for the different decorators `FilterableField` relations etc.

I do wonder how much of that we could keep transparent, so you could have the same DTO definitions and the module import would determine how it is exposed rest, GraphQL or both. This may be pretty invasive but coul

[2021-01-12 21:35] Perni1984 commented on #788
@tillsanders Altough downgrading seems not to be a viable option for you, I just wanted to share the combination of package versions that apparently works for me (tm):

[code]

[2021-01-13 05:06] smolinari commented on #788
@Perni1984 - 5.10.18 is where Typegoose froze at too. Seems 5.10.19 and higher is where the new types start breaking things.

Scott

[2021-01-13 06:03] steinroe commented on #806
Hi @thehappycoder, since you are using TypeORM, I found [typeorm-transactional-cls-hooked](https://github.com/odavid/typeorm-transactional-cls-hooked) to be very useful. Just overwrite the methods you want to be transactional and put the `@Transactional` decorator. You can patch the Repositories so you don't have any changes in you code.

Note: It is based on the unstable Node async hooks API. But

[2021-01-13 10:59] incode4it commented on #790
Really a must-have feature.
I solved this by overriding the default query method.

[code]

[2021-01-16 07:15] steinroe commented on #797
For future readers - You can achieve this by using any on the Authorizer.

e.g.:
[code]

@doug-martin feel free to close this changing the type to the entity would probably break the design of the packages.

[2021-01-18 15:43] h4rm commented on #800
So I think the service approach works best for now and I am happy with the solution.

[2021-01-18 15:43] #800 closed

[2021-01-18 20:15] smolinari commented on #800
@h4rm - Can you share some code that shows what you mean?

Scott

[2021-01-20 15:18] gimyboya opened #824 "Nest server don't start"
**Describe the bug**
My code starts the incremental compilation without any errors but can't start the server.

![image](https://user-images.githubusercontent.com/14952013/105195273-73fa0b00-5b75-11eb-9bae-f110507c3ab7.png)

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

bug section

**To Reproduce**
Steps to reproduce the

[2021-01-21 00:50] gimyboya commented on #824
Looks like i was having an error and because i was disabling nestjs native logger the error was not displayed

![image](https://user-images.githubusercontent.com/14952013/105258849-9451b600-5bc5-11eb-95d5-f59440a6eb54.png)

I am currently using `typegoose` in staid of `@nestjs/mongoose` i will probably have to open a different issue for this

[2021-01-21 00:50] #824 closed

[2021-01-21 11:02] johannesschobel commented on #471
this would also be of interest for me.. @vladimirdrayling @thehappycoder do you have any luck so far?

[2021-01-21 13:16] renovate[bot] opened #825 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 16:35] vladimirdrayling commented on #471
@johannesschobel nothing found yet. Using plain prisma client

[2021-01-21 17:03] johannesschobel commented on #471
@vladimirdrayling , thank you for your answer.
Are you using prisma with GraphQL or within a RESTful application?

[2021-01-22 09:29] Nightbr commented on #559
It could be a really nice feature, a usual use-case is when you have a ManyToMany relation with an explicit entity to handle the relation.

`Parent <ManyToOne> RelationHolder <OneToMany> Child`

You would like to call `RelationHolders` with **sort fields** from the `Child`.

Happy to help debug this if needed ;)

[2021-01-22 14:05] #825 closed

[2021-01-23 22:00] thehappycoder commented on #471
@johannesschobel I am planning to use it with GraphQL.

[2021-01-24 19:29] vladimirdrayling commented on #471
@johannesschobel you are welcome! Currently working only with GraphQL

[2021-01-29 07:58] luca-nardelli commented on #702
Hi @doug-martin! First of all, this library is awesome, I love how it is structured and declarative, so thank you! I am also in need of custom sorting/filtering and I am working on some workaround for typeorm in these days. If you want, I could try and help you with this feature. Let me know your thoughts, thank you!

[2021-02-01 07:01] Diluka opened #837 "custom operator definition"
**Is your feature request related to a problem? Please describe.**
if want to query on json fields, the operators need to be redefined.  And if wants to use functions, should add new operators.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

Yes

**Describe the solution you'd like**
examples (mysql):
1. redefine `IN` for j

[2021-02-01 07:04] johannesschobel commented on #804
Dear @doug-martin ,
thank you very much for the answers and respective ideas. I will see what i can do. Maybe it will work out ;)
All the best,
Johannes

[2021-02-01 07:04] #804 closed

[2021-02-01 07:16] Diluka commented on #327
If someone eagerly want to add this feature immediately. Let's do some hack.

This is working on `v0.21.2`
https://gist.github.com/Diluka/8b87158fdf55808e44b1ed3c513f2eea

[2021-02-02 17:23] #793 closed

[2021-02-03 03:16] jfrader commented on #790
I'm really blocked by this one, is there a plan to implement this?

[2021-02-05 09:10] yeomann commented on #790
is there update, really needed feature. we have aggregation but aggregation on relation doesn't work. its a sad situation

[2021-02-05 17:44] dasimandl opened #850 "Scaling bottleneck"
Hello,

First off I would like to say that this library is exceptionally powerful, well thought out and well documented.  I was having a lot of success during my prototyping phase, but I'm now facing some scaling issues as I implement in a production environment.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)? YES

**To Rep

[2021-02-05 20:59] #788 closed

[2021-02-06 19:01] doug-martin commented on #850
@dasimandl this is interesting I wonder if this is nests-query or @nestjs/graphql and the schema generation. If you could provide a sample repo I can look into this some more to see where the bottle neck is. If its in nestjs/graphql we may want to open the issue there.

[2021-02-07 00:46] doug-martin commented on #808
@ledamint this is an odd use case, I'm curious why are you using soft deletes if you still want to fetch information about it, would a boolean flag work better in this case so you could filter on that value?

If you can provide your graphql query that's failing it may help me to understand the use case a little better.

[2021-02-07 00:48] doug-martin commented on #806
@thehappycoder did the suggestion from @steinroe work for you?

[2021-02-07 00:51] #802 closed

[2021-02-07 00:57] doug-martin commented on #798
@thehappycoder you may have already found a work around for this but if not, would you mind providing an example?

[2021-02-07 00:58] #797 closed

[2021-02-07 01:03] doug-martin commented on #774
@Diluka I need more information :) Can you please provide an example spec?

[2021-02-07 01:05] doug-martin commented on #771
@vladmelnyk I'll track this under #805

[2021-02-07 01:05] #771 closed

[2021-02-07 02:30] Diluka commented on #774
https://codesandbox.io/s/nestjs-query-issues-774-bhcrm?file=/README.md

it seems not relate to `nestjs-query` but `graphql-scalars`.

[2021-02-07 02:41] Diluka opened #853 "config default object filter conjunction"
**Is your feature request related to a problem? Please describe.**
according to the docs:
- https://doug-martin.github.io/nestjs-query/docs/concepts/queries#multiple-fields
- https://doug-martin.github.io/nestjs-query/docs/concepts/queries#multiple-comparisons-on-a-single-field

nestjs-query treats objects with fields as keys using `AND` and operators as keys using `OR`. they are objects but using

[2021-02-07 05:47] ledamint commented on #808
I have already done the boolean flag, thank you. About this issue maybe it's good to add an opportunity to allow to use get soft-deleted entities with get request because orm has this functionality

[2021-02-07 06:45] #667 closed

[2021-02-07 17:10] ridyio opened #854 "Upload file"
**Describe the bug**
Apollo server prior to v3 has support for multipart upload through GraphQLUpload field type. If this field type is assigned in DTO class when i try to upload a file i get this error which traces back to nesjs-query so it seems. Has anyone been able to use file upload with nestjs-query.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query

[2021-02-08 04:18] doug-martin commented on #808
@ledamint I'm having a hard time seeing how to implement this generically to make it useful for something other than a specific use case. I'm not saying its not a useful feature (we don't uses soft deletes internally) but if you could provide a couple of examples of how you one would use this option it will help in determining if this should or should not be added to the framework.

Thank you for

[2021-02-08 04:24] doug-martin commented on #801
@smolinari @steinroe This may be addressed in later versions of `@nestjs/graphql` but when initially implementing the library the transform and validation logic was not always applied so I added it to the resolver to ensure the resolver always had an instance of the DTO that had been validated.

Because the global validation pipe is applied before all other pipes `nests-query` effectively ignores

[2021-02-08 04:31] doug-martin commented on #788
@tillsanders the latest version includes support for `v5.11.x`! Let me know if you have any issues.

[2021-02-09 22:37] luca-nardelli opened #861 "@Context() in services"
**Is your feature request related to a problem? Please describe.**
I'm currently facing the following situation:
- A user has a "customer" profile (i.e. User entity only holds auth information, Customer holds all the other relevant data), they are related in a OneToOne fashion.
- Customers can create and own (i.e. database OneToMany relation) `projects`
- When creating a project, I'd like to autom

[2021-02-10 01:58] doug-martin commented on #861
@luca-nardelli Off the top of my head I can think of a couple of solutions that may work out of the box

* [Inject the context or request into your service](https://docs.nestjs.com/fundamentals/injection-scopes#request-provider).
* Create a guard that adds the customer information to the context and only add it to your create one/many mutations.

Let me know if that helps, we do something similar

[2021-02-10 02:02] doug-martin commented on #790
I'm starting to look into this, I really think the best approach is to change offset based paging to return a connection object that looks like the following

[code]

This will be a breaking change for people currently using offset, but I think is worth it to create a more consistent experience when enabling certain features, and will be more extensible in the future.

[2021-02-10 06:50] smolinari commented on #861
I think there is another choice. You could use Nest's caching module. Cache what you need at the point of creating the user's session (so only one call to the db for this "static" data) and recall it into any custom service via Nest's DI system.

Scott

[2021-02-10 09:56] luca-nardelli commented on #861
Hey, thank you both for the suggestions! I come from PHP and and I probably still need to get used to the subtle differences =). I thought about using a request scoped provider (and I forgot to write it in the initial description, sorry :/) to inject the request in the service, but if I understood correctly how that works then Nest would bubble up the scope to the resolver, re-instantiating it for

[2021-02-10 10:19] luca-nardelli commented on #854
Hey, unfortunately I can't help you directly with your error, but this is just to let you know that I implemented a custom resolver function to handle uploads. In my case, I did not re-use the CRUDResolver, but maybe you could create a [custom resolver (extending from the CRUDResolver)](https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers/#crudresolver), override the createOne mutatio

[2021-02-10 13:42] smolinari commented on #861
Your right... I forgot to mention we are using the convention of passing the context from the resolvers through to our services (manual injection). So, any service will have access to the request object and the user info stored within the access token. From there, you can pull in the cached user data.

If there is a more elegant way than doing that, I'm all ears too. 😁

Scott

[2021-02-10 15:40] Nightbr opened #864 "Use @Authorize with Extended Resolver throw an error"
Hello, thanks for this awesome lib :tada:

**Describe the bug**

I'm having an issue when using the CRUDResolver class and the @Authorize decorator on the DTO.

Following this part of the doc: https://doug-martin.github.io/nestjs-query/docs/graphql/resolvers#custom-methods

It throw an error:

[code]

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/

[2021-02-11 04:35] ezdookie opened #868 "Question: Where is it supposed to put my business logic?"
I've been learning nestjs and nestjs-query since few days ago. This solution brings a fully working CRUD and documentation doesn't let me clearly understand where to put my business logic after creating/updating my object, for example, adding jobs to queues. I understand there are hooks but it works only at before creating the object, but not after.

Also I see the posibility of overwriting the Cr

[2021-02-11 04:44] doug-martin commented on #868
@ezdookie I'm not sure which persistence adapter you are using but for each query service each you can implement your own version by extending the persistence query service class.

See:
* [TypeOrm](https://doug-martin.github.io/nestjs-query/docs/persistence/typeorm/custom-service)
* [Sequelize](https://doug-martin.github.io/nestjs-query/docs/persistence/sequelize/custom-service)
* [Mongoose](https

[2021-02-11 21:58] #868 closed

[2021-02-12 05:51] ridyio commented on #854
@luca-nardelli Thanks for your suggestion and it seems a good solution for this. For my case after spending two days trying to fix this i gave up and used a REST endpoint for upload instead. This solution you mentioned here could as well help others. I opened the issue just before i gave up :)
Also i have heard there is a consideration about upload putting pressure on GraphQL server and REST not b

[2021-02-12 14:48] luca-nardelli commented on #864
Hey, I can't diagnose your specific issue but I just bumped into this part of the documentation: https://doug-martin.github.io/nestjs-query/docs/graphql/authorization/#injectauthorizer-decorator

Maybe you have to inject it?

[2021-02-12 14:52] Nightbr commented on #864
Yep, good point, I tried to inject it `@InjectAuthorizer(UserDTO) readonly authorizer: Authorizer<UserDTO>` but same error. Seems this service in provided by the module `NestjsQueryGraphQLModule` but the fact we use a custom resolver and don't declare it, you don't have access to the Authorizer service.

But if you import `NestjsQueryGraphQLModule`, you need to configure at least one resolver and

[2021-02-12 14:58] doug-martin commented on #864
@Nightbr I'm thinking this may be because the authorizer is set up by the NestJSQueryGraphqlModule, could you try the following and see if it works for you

Change your resolver just expose the `me` endpoint since the query module will add the rest of the endpoints.
[code]
add the import for the nestjs-query graphql module

[code]

[2021-02-12 15:03] doug-martin commented on #864
@Nightbr sorry I missed your reply.

I'm not sure the endpoint precedence if you are overriding them entirely in your custom resolver, but if you are just adding additional queries and mutations you don't need to extend the CRUDResolver you can just use the autogenerated and have your custom resolver like the example above.

Hope this helps :)

[2021-02-12 15:08] Nightbr commented on #864
@doug-martin yep this is working, not extend the CRUDResolver to just expose the me (so far) :ok_hand:

[code]

Thanks :ok_hand:

But yeah, if you are overriding the resolver, maybe you don't need the generated Authorizer. But could be great to be able to have this service as same as the QueryService.

But your solution is pretty neat and works! thank you ;)

[2021-02-12 15:51] doug-martin commented on #864
@Nightbr plat that worked for you!

[2021-02-12 15:51] #864 closed

[2021-02-13 21:06] vladmelnyk commented on #805
is there a hackish solution we can use until you release a proper one?
@doug-martin

[2021-02-14 04:36] smolinari commented on #805
Don't mean to sound smarts-ass-ish, but you could maybe create your own resolver? 😀 `appointmentsByUserId`?

Scott

[2021-02-15 07:45] thehappycoder commented on #806
@doug-martin No, I haven't tried since my workaround works with typeorm repositories. I would like to find a workaround to get database transactions work with the nestjs-query query service instead as it's has out of the box data loader support whereas when I work with typeorm repos, I am on my own, right?

[2021-02-15 07:50] thehappycoder commented on #798
For example, I am querying `project` from my GraphQL server, and project has tasks. Projects reside in the local database. Tasks, however, exist in another system and can be loaded via API. When I worked with graphql-js, it was possible to load tasks in `project` resolve function and return that project with these tasks from that resolve function to be later accessible in resolve function of `task

[2021-02-16 16:35] h4rm opened #881 "Aggregations with filters on ObjectIds fail in MongooseQueryService"
Version: 0.22

When a DTO has a reference which is specified as follows:

[code]

and a schema

[code]

currently I cannot filter for the userId in an aggregation:

[code]

when I call `countDocuments(filter: {userId:{eq: "123456"} })` because I get the following error:

[code]

![Screen Shot 2021-02-16 at 17 34 09](https://user-images.githubusercontent.com/569550/108092630-322d8900-707d-11eb-9be6

[2021-02-16 19:20] h4rm commented on #881
This is probably due to the fact that aggregate expects the following:

[code]

@doug-martin Any plans on extending the aggregate query builder to convert fields of type ID to the mongoose ObjectId?

[2021-02-16 20:17] doug-martin commented on #881
@h4rm thank you for the bug report and tracking down what's causing it, that helps a lot! There will need to be some investigation on how to identify the fields that should be turned into an objectId. @smolinari do you know a way of doing this?

[2021-02-17 08:07] h4rm commented on #881
So I dug a little bit deeper and overwrite the `aggregate` in my DocumentService.

Two things actually fix the problem:

Number 1
-----

Replace all string Ids to by the same ObjectIds. I am doing it manually right now but I think it should be possible to gather that information from the schema somehow and do it automatically in the buildAggreateQuery which uses the default buildFilterQuery intern

[2021-02-17 17:05] smolinari commented on #881
@doug-martin - I'm not so deep into the inner workings of Mongoose. The person who might know better is @JohnMcInall.

Scott

[2021-02-19 08:01] luca-nardelli opened #889 "TypeormQueryService: expose some methods as protected instead of private"
**Is your feature request related to a problem? Please describe.**
I wanted to apply some "change detection" logic to an update operation for a resource. More specifically, I wanted to log whenever a user changed its consent for marketing communications on our platform.
To do that, I needed to have access to the entity fetched from DB and to the DTO in order to compare the relevant properties (i.e

[2021-02-19 16:58] ridyio opened #890 "Authorize decorator not working"
**Describe the bug**
There seems to be an issue with @Authorize decorator. The filter doesn't applies and is skipped.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?
Yes

**To Reproduce**
Steps to reproduce the behavior:
Create a DTO class & decorate it with Authorize class with a filter. Filter is not applied at all and sk

[2021-02-19 17:00] doug-martin commented on #890
@ridyio do you have a custom resolver or are you using the auto generated resolver?

[2021-02-19 17:40] ridyio commented on #890
@doug-martin Custom resolver. Here it is:
[code]

[2021-02-19 19:41] doug-martin commented on #890
@ridyio I think this probably the same thing as #864 could you try the solution proposed in there and see if it works for you?

[2021-02-20 07:39] ridyio commented on #890
@doug-martin Thanks for solution. Yes i tried it and that seems to do the job.
It could be helpful for some to mention this in documentation so they don't take extending approach like me if authorization is required (Which i think is always). If of course not already mentioned maybe i didn't saw.
Thanks again🙏🏼

[2021-02-21 12:29] renehauck opened #893 "allowedComparisons ignores "and", "or" blacklist"
**Describe the bug**
I have a DTO "News", this has a property `storeId` . Now I want to allow only one `eq query` in this DTO, but `and` and `or` are automatically added.

### Have you read the [Contributing Guidelines](https://github.com/doug-martin/nestjs-query/blob/master/CONTRIBUTING.md)?

yes

**To Reproduce**
Steps to reproduce the behavior:
1. Create DTO `News`
[code]
2. look at the GraphQL

[2021-02-21 17:20] #890 closed

[2021-02-22 03:40] thehappycoder opened #895 "Seems like OR logic is messed up, wrong SQL is generated"
Is it a known issue (hard to search something like that)? If not, I'll post more info.

Basically, SQL is generated with a OR b not enclosed in (), and when I add more filters with AND, this is what I get: `a OR b AND c` (in pseudocode) but should get `(a OR b) AND c`

[2021-02-22 04:34] doug-martin commented on #895
@thehappycoder I'm not aware of this issue, if you could provide some more information that could help me track it down. If you could provide a complete example, along with info on the packages you are using I would appreciate it!

Thanks for reporting!

[2021-02-22 04:43] thehappycoder commented on #895
@doug-martin False alarm but maybe a good indicator that documentation should mention this gotcha. To "fix" this, I had to wrap "or" inside "and":

[code]

[2021-02-22 04:49] thehappycoder commented on #895
I probably assumed that AND and OR logic worked like in Prisma, where wrapping or inside and isn't needed as far as I remember (https://www.prisma.io/docs/reference/api-reference/prisma-client-reference/#or), so I got hit by this gotcha.

[2021-02-22 16:40] doug-martin commented on #895
@thehappycoder you are right it shouldn't be needed. Which persistence package are you using? Each one is different based on what's required to use the library.

[2021-02-23 01:37] thehappycoder commented on #895
@doug-martin  I am using typeorm

[2021-02-23 06:18] doug-martin commented on #893
@renehauck this makes sense in the case of a single comparison, I think that would be an easy change, but I'm not sure it is the correct one.

I'm curious in the case that you limit it to for example 3 comparisons (`eq`, `neq`, and `between`) would you expect `and`/`or` to be exposed then? Or, would a new option to disable comparison expressions be preferable in that case?

I have thought about `e

[2021-02-23 10:51] incode4it opened #900 "Async Hook Function"
From the definitions, I see that `HookFunc` can return a `Promise`

`export declare type HookFunc<T, Context = any> = (instance: T, context: Context) => T | Promise<T>;`

But If using the` @BeforeCreateOne()` hook that returns a Promise. A validation error will be thrown saying that properties are required. `someEntity validation failed: someField: Path someField is required.`

As a temporary fix,

[2021-02-23 11:19] incode4it commented on #900
UPDATE: As a temporary solution I had to use Pipes.

[2021-02-23 20:34] doug-martin commented on #900
@incode4it the current hooks implementation does a transform and validate before calling the user provided hook. It sounds like the incoming DTO does not have the required fields and is failing in `class-validator`. I'm curious do you have have a [global validation pipe](https://docs.nestjs.com/techniques/validation#auto-validation) enabled?

P.S. In the next version of nestjs-query the hooks have

[2021-02-24 09:27] renehauck commented on #893
Yes, I like that idea. :smiley:  I am not a database expert, but is it possible for a hacker to overload the database by generating massive and/or lists and querying them?
Maybe it would also make sense to put a length limit on the and/or groupings or?